/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

@font-face {
  font-family: "Lithos";
  src: url("/static/css/lithos.ttf");
}

@font-face {
  font-family: "Bowlby";
  src: url("/static/css/BowlbyOneSC-Regular.ttf");
}

/* =Header
-------------------------------------------------------------- */

.menu {
  font-family: "Bowlby", sans-serif !important;
  letter-spacing: 1.5px !important;

  .btn-secondary {
    color: #02440c !important;

    &:hover {
      background-color: #40becd !important;
    }
  }

  .menu-item {
    border-right: 1px solid #789400 !important;
    padding-right: 7px !important;
  }

  .menu-item:last {
    border-right: none !important;
  }
}

.list-toggle-nav {
  margin-left: 7px !important;
  margin-top: -1.125em !important;
}

.list-toggle-btn {
  font-family: "Bowlby", sans-serif !important;
  letter-spacing: 1.5px !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #02440c !important;
  padding: 0.5em 0.75em !important;

  &:hover {
    background-color: #40becd !important;
  }
}

#site-header {
  background: url("/static/css/images/header-banner-large.png") !important;
  background-size: auto 64px !important;
  background-color: #f3f5e7 !important;
  background-repeat: no-repeat !important;
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (max-width: 60em) {
}

@media only screen and (min-width: 60em) {
  #pages-nav-container {
    margin-left: 550px !important;
  }
}
