/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

@font-face {
  font-family: 'Sigmar One';
  font-style: normal;
  font-weight: 400;
  src: local('Sigmar One Regular'), local('SigmarOne-Regular'), url(https://fonts.gstatic.com/s/sigmarone/v7/aRAZJs6CY7SV6eSg6Wx4jwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#site-title a:link,
#site-title a:visited {
  color: #c5dea3 !important;
  font-weight: normal;
  font-family: 'Sigmar One', 'Arial Black', sans-serif !important;
  display: block;
  float: left;
  width: 350px;
  height: 50px;
  overflow: hidden;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.menu-item a {
  color: white !important;
  letter-spacing: 0.1em;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}


/* =Header
-------------------------------------------------------------- */
@media only screen and (min-width: 60em) {
  #site-header {
    background: url(images/longfellow_creek1.jpg);
  }

  #site-title {
    margin-left: 65px;
  }

  .content-visible #main-btns-container {
    top: calc(100% - 85px);
    left: 15px;
    display: block;
  }

  /* reorient add a report button to bottom left when content panel is open */
  .place-form-visible #main-btns-container {
    display: none !important;
  }

  .content-expanded-mid #main-btns-container {
    display: none !important;
  }
}


/* =Media Queries
-------------------------------------------------------------- */
/* iphone 4 (320 x 480)*/

@media only screen and (max-width: 60em) {
  #site-header {
    background: none;
    background-color: #605245;
  }

  #site-title a:link,
  #site-title a:visited {
    margin-top: 5px !important;
    width: 180px;
    height: 25px;
    background-size: 180px auto;
  }
  #place-form-type-choice {
    padding-bottom: 1em;
  }
  #place-form-type-choice a.button {
      display: block;
      float: left;
      width: 40%;
      padding: .5em .5em;
      margin: 0;
      border: 2px solid white;
  }
}

@media only screen and (max-width: 60em) {
  #site-title a:link,
  #site-title a:visited {
    width: 180px;
    height: 25px;
    background-size: 180px auto;
    margin: 10px 0 0 0;
  }
}

@media only screen and (min-width: 768px) {
  #place-form-type-choice a.button {
    width: 40%;
    font-size: 100%;
    padding: 1em 1em;
    margin: 0 2% 2% 0;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}
