/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

@font-face {
  font-family: 'Sigmar One';
  src: url('SigmarOne.otf');
}

#site-title a:link,
#site-title a:visited {
  color: #acd670 !important;
  font-weight: normal;
  font-family: 'Sigmar One', 'Arial Black', sans-serif !important;
  display: block;
  float: left;
  margin-right: 50px;
  overflow: hidden;
/*  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
  text-shadow: 2px -2px 2px rgba(0, 0, 0, 0.5);
}

/* =Header
-------------------------------------------------------------- */
@media only screen and (min-width: 60em) {
  #site-header {
    /*background: url(images/longfellow_creek1.jpg);*/
    background: none;
    background-color: #FFF;
  }

  .content-visible #main-btns-container {
    top: calc(100% - 85px);
    left: 15px;
    display: block;
  }

  /* reorient add a report button to bottom left when content panel is open */
  .place-form-visible #main-btns-container {
    display: none !important;
  }

  .content-expanded-mid #main-btns-container {
    display: none !important;
  }
}

/* =Custom pledge type icons
-------------------------------------------------------------- */
#poopscoop + label:before {
  font-family: FontAwesome;
  text-indent: 0.8em;
  content: "\f014";
}

#naturalyard + label:before {
  font-family: FontAwesome;
  text-indent: 0.8em;
  content: "\f06c";
}

#carwash + label:before {
  font-family: FontAwesome;
  text-indent: 0.7em;
  content: "\f1b9";
}

#oilleaks + label:before {
  font-family: FontAwesome;
  text-indent: 0.8em;
  content: "\f0ad";
}

#planttrees + label:before {
  font-family: FontAwesome;
  text-indent: 0.8em;
  content: "\f1bb";
}

#stormdrains + label:before {
  font-family: FontAwesome;
  text-indent: 0.9em;
  content: "\f043";
}

#spreadword + label:before {
  font-family: FontAwesome;
  text-indent: 0.8em;
  content: "\f0a1";
}

/* =Dynamic form big button overrides
-------------------------------------------------------------- */
.big-btn + label {
  color: #555;
}

.big-btn:checked + label:before {
  font-weight: normal !important;
  color: #FFF !important;
}


/* =Media Queries
-------------------------------------------------------------- */
/* iphone 4 (320 x 480)*/

@media only screen and (max-width: 60em) {
  #site-header {
    background: none;
    background-color: #FFF;
  }

  #site-title a:link,
  #site-title a:visited {
    background-size: 180px auto;
  }
  #place-form-type-choice {
    padding-bottom: 1em;
  }
  #place-form-type-choice a.button {
      display: block;
      float: left;
      width: 40%;
      padding: .5em .5em;
      margin: 0;
      border: 2px solid white;
  }
}

@media only screen and (max-width: 60em) {
  #site-title a:link,
  #site-title a:visited {
    background-size: 180px auto;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 768px) {
  #place-form-type-choice a.button {
    width: 40%;
    font-size: 100%;
    padding: 1em 1em;
    margin: 0 2% 2% 0;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}
