@import "variables";

.mapseed-add-attachment-button {
  position: relative;
  display: block;
}

.mapseed-file-field__label {
  display: block;
  color: $add-attachment-button-text-color;
  padding: $add-attachment-button-padding;
}

.mapseed-secondary-button {
  padding: 0;
}

.mapseed-add-attachment-button__filename {
  margin-left: 8px;
}

.mapseed-add-attachment-button__filename--visible {
  display: inline;
}

.mapseed-add-attachment-button__filename--hidden {
  display: none;
}
