.mapseed-text-field {
	border: $text-field-border;
	border-radius: $text-field-border-radius;
	padding: $text-field-padding;
	margin: $text-field-margin;
	width: $text-field-width;
	box-sizing: border-box;
}
