<!DOCTYPE html>
{% load jstemplate %}
{% load i18n %}
{% load shareabouts_utils %}
{% load url from future %}
{% get_current_language as LANGUAGE_CODE %}

<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE7">

  <title>{{ config.app.title }}</title>
  <meta name="description" content="{{ config.app.meta_description }}">
  <meta name="author" content="{{ config.app.meta_author }}">

  <!-- Social Media meta tags and such -->
  {% block meta %}{% endblock %}

  <!-- Mobile Viewport Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />

  {% block app_icons %}
  <!-- Favicon & Progressively-Enhanced Touch Icons: http://mathiasbynens.be/notes/touch-icons#sizes -->
  <link rel="shortcut icon" href="{{ config.static_url }}css/images/water.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ config.static_url }}css/images/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ config.static_url }}css/images/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ config.static_url }}css/images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ config.static_url }}css/images/apple-touch-icon-precomposed.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  {% endblock app_icons %}

  <!-- Google WebFonts -->
  <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>

  {% if settings.DEBUG %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet-sidebar.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/default.css?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}">

  <!-- jQuery date-time picker plugin -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.datetimepicker.css">
  {% else %}
  <link rel="stylesheet" href="{{ STATIC_URL }}dist/bundle.css?ver=0.7.4.1"></link>
  {% endif %}

  <!-- Flavor's Custom Stylesheet -->
  <link rel="stylesheet" href="{{ config.static_url }}css/custom.css?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}">


  <link rel="profile" href="//gmpg.org/xfn/11" />

  {% if config.map.cartodb_enabled %}
  <link rel="stylesheet" href="//cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  {% else %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  {% endif %}

  {% if config.cluster %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
  {% endif %}

  <!--[if lte IE 8]>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.ie.css" />
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.js"></script>
    <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

</head>
  <body class="{% if config.map.geocoding_bar_enabled %} geocoding-bar-enabled{% endif %}">

  <header id="site-header" class="clearfix{% if pages_config %} has-pages{% endif %}">
    <h1 id="site-title">{% block site-title %}{% endblock %}</h1>

    {% block pre_auth_nav %}{% endblock %}
    <div id="auth-nav-container"></div>
    {% block post_auth_nav %}{% endblock %}

    {% block pre_pages_nav %}{% endblock %}
    <div id="pages-nav-container"></div>
    {% block post_pages_nav %}{% endblock %}

    {% if config.map.counter %}
      <div id="place-counter" class="list-toggle-nav"></div>
    {% endif %}

    {% if config.languages %}
      {% include 'language_picker.html' %}
    {% endif %}

  </header>

  <div class="unsupported-overlay"></div>

  <div role="main" id="main">
    <noscript>
      <div class="noscript">
      <h3>
        {% blocktrans %}
        Oops, {{ config.app.name}} needs JavaScript to work properly.
        {% endblocktrans %}
      </h3>
      <p>
        {% blocktrans %}
        {{ config.app.name }} is great but it needs something called JavaScript to work
        properly. But fear not, it's really easy to turn on. Click
        <a href="//enable-javascript.com/" target="_blank">here</a> for simple instructions!
        {% endblocktrans %}
      </p>
      </div>
    </noscript>

    {% if config.map.geocoding_bar_enabled %}
    <div id="geocode-address-bar" class="clearfix"></div>
    {% endif %}

    <div id="map-container">

      <div id="ajax-error-msg">{% blocktrans %}We can't connect to the server at the moment. Hang tight while we re-establish communication.{% endblocktrans %}</div>
      <div id="map-progress" class="progress-bar"><strong>Loading Data&hellip;</strong><span class="current-progress"></span></div>
      <div id="map"></div>
      <div id="spotlight-mask"></div>

      {% if config.sidebar.enabled %}
        <div id="sidebar-container"></div>
      {% endif %}

    </div>

    <div id="content"><!-- .place or .page -->
      <a href="#" class="close-btn">&#10005;<span>{% blocktrans %}Close{% endblocktrans %}</span></a>
      <a href="#" class="maximize-btn"><span>{% blocktrans %}Maximize{% endblocktrans %}</span></a>
      <a href="#" class="minimize-btn"><span>{% blocktrans %}Minimize{% endblocktrans %}</span></a>
      <article></article>
    </div><!-- end #content -->
    <!-- right-panel sidebar -->
    <div id="right-sidebar"></div>
  </div><!-- end #main -->

 {% if config.sidebar.enabled %}
   <!-- <div id="side-bar"> -->
   {% if config.sidebar.legend_enabled %}
    <!-- <div id="master-legend"> -->
      {% block sidebar %}{% endblock %}
      <!--<header>Master Legend</header>-->
    <!-- </div> -->
   {% endif %}
  <!-- </div> -->
 {% endif %}

  <div id="list-container"></div>

  <!--
  <footer id="colophon">
    {% block colophon %}{% endblock %}
  </footer>
  -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}libs/jquery-1.10.2.js"><\/script>')</script><!-- FIXME: Maybe this should be pulled into the repo as a git submodule-->

  {% if config.map.cartodb_enabled %}
  <script src="//cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/cartodb.js"></script>
  {% else %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  {% endif %}
  {% if config.cluster %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
  {% endif %}

  {% if settings.MAPBOX_TOKEN %}
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.2/mapbox-gl.css" rel='stylesheet' />
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.2/mapbox-gl.js"></script>
  <script src="{{STATIC_URL}}libs/leaflet-mapbox-gl.js"></script>
  {% endif %}

  {% block cdn_load %}{% endblock %}

  {% if settings.DEBUG %}
  <!-- Non-minified, where available -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment-with-locales.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.6.1/backbone.marionette.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/esri-leaflet/1.0.3/esri-leaflet.js"></script>
  <script src="//cdn.quilljs.com/1.1.4/quill.js"></script>
  <!-- jQuery date-time picker plugin -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.3/build/jquery.datetimepicker.full.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.12/jquery.scrollTo.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/1.2.3/load-image.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/2.0.6/js/canvas-to-blob.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.3.2/spin.min.js"></script>
  {% else %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment-with-locales.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.6.1/backbone.marionette.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/esri-leaflet/1.0.3/esri-leaflet.js"></script>
  <script src="//cdn.quilljs.com/1.1.4/quill.min.js"></script>
  <!-- jQuery date-time picker plugin -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.3/build/jquery.datetimepicker.full.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.12/jquery.scrollTo.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/1.2.3/load-image.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/2.0.6/js/canvas-to-blob.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.3.2/spin.min.js"></script>
  {% endif %}
  
  <!-- These are obscure or customized, self-hosted. -->
  <script src="{{STATIC_URL}}libs/binaryajax.js"></script>
  <script src="{{STATIC_URL}}libs/exif.js"></script>
  <script src="{{STATIC_URL}}libs/gatekeeper.js"></script>
  <script src="{{STATIC_URL}}libs/swag.min.js"></script>
  <script src="{{STATIC_URL}}libs/leaflet.sidebar.js"></script>
  
  <script>
    moment.locale('{{LANGUAGE_CODE}}');

    $(function() {
      // Check official browser support.
      var userAgent = {{ user_agent_json|safe }};

      if (!Shareabouts.Util.isSupported(userAgent)) {
        var userAgentData = userAgent,
            $unsupportedEl = $('.unsupported-overlay'),
            unsupportedHtml;

        userAgentData['is_ie'] = (userAgent.browser.name === 'Microsoft Internet Explorer');
        unsupportedHtml = Handlebars.templates['unsupported-overlay'](userAgentData);

        $unsupportedEl.hide();
        $unsupportedEl.html(unsupportedHtml);
        $unsupportedEl.slideDown();

        $unsupportedEl.find('.close-btn').click(function(evt) {
          evt.preventDefault();
          $unsupportedEl.slideUp();
          return false;
        });
      }
    });
  </script>

  <!-- Bootstrap site and user information -->
  <script>
    var Shareabouts = Shareabouts || {};
    
    Shareabouts.bootstrapped = {
      staticUrl: '{{ STATIC_URL }}',
      mapQuestKey: '{{ settings.MAPQUEST_KEY }}',
      mapboxToken: '{{ settings.MAPBOX_TOKEN }}'
    };

    function bootstrapCurrentUser(data) {
      // Handle the case when we are logged into the admin panel
      if (data && !data.avatar_url) data.avatar_url = "{{ STATIC_URL }}css/images/user-50.png"
      if (data && !data.name) data.name = data.username
      Shareabouts.bootstrapped.currentUser = data;
    }

    function setApiSessionCookie(data) {
      if (data) {
        Shareabouts.Util.cookies.save('sa-api-sessionid', data.sessionid);
      }
    }
  </script>

  <script src="{{STATIC_URL}}dist/bundle.js?ver=0.7.4.1"></script>

  <script src="{{API_ROOT}}users/current?format=jsonp&callback=bootstrapCurrentUser"></script>
  <script src="{{API_ROOT}}utils/session-key?format=jsonp&callback=setApiSessionCookie"></script>

  {% handlebarsjs '(.*)' precompile register_partials %}
  {% handlebarsjs 'pages/*' precompile %}

  <script type="text/javascript">
//  <!--<script>-->
  (function(S, $){
    // Boostrapping the place types and their icons
    S.Config = {
      defaultPlaceTypeName: '{{ default_place_type }}',
      userToken: (
        S.bootstrapped.currentUser ?
        'user:' + S.bootstrapped.currentUser.id :
        {{ user_token_json|safe }}),

      flavor:     {{ config.data|as_json }},
      place:      {{ config.place|as_json }},
      placeTypes: {{ config.place_types|as_json }},
      cluster:    {{ config.cluster|as_json }},
      survey:     {{ config.survey|as_json }},
      support:    {{ config.support|as_json }},
      map:        {{ config.map|as_json }},
      activity:   {{ config.activity|as_json }},
      sidebar:    {{ config.sidebar|as_json}},
      leaflet_sidebar: {{ config.leaflet_sidebar|as_json }},
      pages:      {{ pages_config_json|safe }},
      story:      {{ config.story|as_json }}
    };

    $(function() {
      // Ready set go!
      window.app = new Shareabouts.App({
        activity: [],

        defaultPlaceTypeName: S.Config.defaultPlaceTypeName,
        userToken: S.Config.userToken,

        config: S.Config.flavor,
        placeConfig: S.Config.place,
        placeTypes: S.Config.placeTypes,
        cluster: S.Config.cluster,
        sidebarConfig: S.Config.sidebar,
        surveyConfig: S.Config.survey,
        supportConfig: S.Config.support,
        mapConfig: S.Config.map,
        storyConfig: S.Config.story,
        activityConfig: S.Config.activity,
        pagesConfig: S.Config.pages
      });
    });

  }(Shareabouts, jQuery));

  </script>

  {% if settings.GOOGLE_ANALYTICS_ID %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ settings.GOOGLE_ANALYTICS_ID }}', '{{ settings.GOOGLE_ANALYTICS_DOMAIN|default:"auto" }}');
    // Set the language-code
    ga('set', 'dimension2', '{{ LANGUAGE_CODE }}');
  </script>
  {% endif %}
  {% if settings.CLICKY_ANALYTICS_ID %}
  <a title="Google Analytics Alternative" href="https://clicky.com/{{ settings.CLICKY_ANALYTICS_ID }}"><img alt="Google Analytics Alternative" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
  <script type="text/javascript">
   var clicky_site_ids = clicky_site_ids || [];
   clicky_site_ids.push({{ settings.CLICKY_ANALYTICS_ID }});
   (function() {
     var s = document.createElement('script');
     s.type = 'text/javascript';
     s.async = true;
     s.src = '//static.getclicky.com/js';
     ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
   })();
  </script>

  <noscript>
    <p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/{{ settings.CLICKY_ANALYTICS_ID }}ns.gif" />
    </p>
  </noscript>
  {% endif %}

  {% block includes %}{% endblock %}

</body>
</html>
