{% extends 'base.html' %}
{% load i18n %}

{% block site-title %}
<a href="{{ config.app.link }}">{{ config.app.title }}</a>
{% endblock %}

<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{#{% block colophon %}#}
{#{% endblock %}#}

<!--
  Analytics, custom JS, and such go here
 -->

{% block includes %}
<link rel="shortcut icon" href="{{ config.static_url }}css/images/markers/tree.png">
<script>
  (function(S) {
// ========================================
// == For Filtering
    $(document).on('click', '.activity-item a', function(evt) {
      window.app.appView.mapView.clearFilter();
    })
  }(Shareabouts));
</script>
{% endblock %}
