.left-sidebar {
  padding: 1em 1em 2em 1em;
  line-height: 1.0;
  // TODO: Convert to percentage width when AppView is ported.
  width: 250px;
}

.left-sidebar__close-button {
  font-size: 1.3em;
  float: right; 
}
