.map-legend-panel {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.map-legend-panel__header {
  text-transform: uppercase;
  line-height: 1.1em;
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.map-legend-panel__legend-item-container {
  display: flex;
  align-items: center;
}

.map-legend-panel__icon-container {
  flex: 2;
  display: flex;
  justify-content: center;
}

.map-legend-panel__item-title {
  margin-left: 8px;
  flex: 5;
}
