.story-navigator {
  height: 100%;
  padding-top: 15px;
}

.story-navigator__header {
  line-height: 1.2em;
  padding: 0 10px 0 10px;
}

.story-navigator__description {
  padding: 0 10px 0 10px;
  font-style: italic;
}

.story-navigator__error-msg {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #aaa;
}
