@import "variables";

.datetime-field {
  width: $datetime-field-width;
}

.datetime-field__input {
  padding: $datetime-field-padding;
  width: 100%;
  box-sizing: border-box;
  border-style: solid;

  &:before {
    font-family: FontAwesome;
    content: "\F073";
    margin-right: 10px;
  }
}
