@import "react-datepicker.min";
@import "variables";

.datetime-field {
  width: $datetime-field-width;
  border: $datetime-field-border;
  padding: $datetime-field-padding;
  box-sizing: border-box;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__time-list {
  padding: 0 !important;
}
