@import "variables";

.dropdown-field {
  width: $dropdown-field-width;
  border: $dropdown-field-border;
}

.dropdown-field--has-autofill {
  background-color: $dropdown-field-autofill-background-color;
}
