@import "~react-quill/dist/quill.snow.css";
@import "variables";

// the .ql-toolbar class is exposed by react-quill
.ql-toolbar.ql-snow {
  background-color: #ffffff;
  border-top: $rich-textarea-border;
  border-left: $rich-textarea-border;
  border-right: $rich-textarea-border;
}

// the .ql-container class is exposed by react-quill
.ql-container {
  background-color: #ffffff;
  min-height: $rich-textarea-min-height !important;
  border-bottom: $rich-textarea-border;
  border-left: $rich-textarea-border;
  border-right: $rich-textarea-border;
  font-size: $rich-textarea-font-size !important;
}

.rich-textarea-field--has-autofill--colored {
  .ql-container {
    background-color: $rich-textarea-field-autofill-background-color !important;
  }
}

// the .ql-out-bottom class is exposed by react-quill
.ql-out-bottom {
  visibility: visible !important;
}

.rich-textarea-field__quill-file-input--hidden {
  display: none;
}
