{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "__LOGGER__": false,
    "SERVER_SIDE": false
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  }
}
