{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "react": {
      "version": "detect",
    },
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "Backbone": false,
    "module": false,
    "moment": false,
    "EXIF": false,
    "BinaryFile": false,
    "loadImage": false,
    "prefix": false,
    "_": false,
    "$": false,
    "Handlebars": false,
    "Shareabouts": false,
    "MAP_PROVIDER_TOKEN": false,
    "MIXPANEL_TOKEN": false,
    "GIT_SHA": false,
    "L": false,
    "ga": false,
    "workbox": false
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "serviceworker": true,
    "node": true
  },
  "rules": {
    "no-unused-vars": 1,
    "react/no-find-dom-node": 0
  }
}
