{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "Backbone": false,
    "module": false,
    "_": false,
    "$": false,
    "Handlebars": false,
    "Shareabouts": false,
    "MAP_PROVIDER_TOKEN": false,
    "GIT_SHA": false,
    "L": false,
    "ga": false
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "no-unused-vars": 1
  }
}
