# user-specific
db/*.sqlite3
log/*.log

# tmp
tmp/
.sass-cache/
npm-debug.log

# cover_me generated
coverage
coverage.data

# junk
.DS_Store
*~
*#
*flymake*

# keys
src/project/sitekey.txt
src/project/siteurl.txt
environment-vars.txt

# IDE project settings
.idea

# compiled files
*.py[co]
*.mo
src/sa_web/static/build/
src/sa_web/static/dist/
staticfiles

# environment
env/
.env/
.env
env.backup
.env-local
.env-production
node_modules/

# Local project settings
# src/project/local_settings.py
# src/project/config.yml
src/flavors/default
src/flavors/defaultflavor

# sqlite database
*.db
