# user-specific
db/*.sqlite3
log/*.log
*.swp

# tmp
tmp/
.sass-cache/
npm-debug.log
npm-debug.log.*

# cover_me generated
coverage
coverage.data

# junk
.DS_Store

# IDE project settings
.idea
.tern-port

# compiled files
*.mo
staticfiles

# environment
.env*
env.backup
.env-local
.env-production
node_modules/

# procedurally generated spritesheets
spritesheet*

# static site build process output
www/
