# https://github.com/travis-ci/travis-ci/wiki/.travis.yml-options
sudo: required
dist: trusty
python:
  - "2.7"

# This is redundant, but explicit,, since 'sudo' is disabled by default to
# make use of Travis CI's container technology.
sudo: false

script: "scripts/cibuild"
notifications:
  irc:
    channels:
      - "irc.freenode.org#heyduwamish"
    on_success: change
    on_failure: always
  email: false
# Turned off because the default policy is to spam ALL members of
# the repositories' owner organization.
# If we decide we want email notifications, feel free to uncomment this and
# add yourself to the recipient list:
# email:
#    recipients:
#     - foo@bar.com
#     - foo2@bar.com
#    on_success: change
#    on_failure: change
