.place-detail-metadata-bar {
  line-height: 1em;
}

.place-detail-metadata-bar__details-container {
  float: left;
}

.place-detail-metadata-bar__avatar {
  float: left;
}

.place-detail-metadata-bar__created-datetime {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #bbb !important;
}

.place-detail-metadata-bar__action-text {
  margin: 0;
}

.place-detail-metadata-bar__survey-count {
  font-size: 0.8em;
  text-transform: uppercase;
}
