<p>{{#_}}Thanks for submitting a new idea to improve your community!{{/_}}</p>

<p>{{#_}}Here's what you suggested:{{/_}} {{ place.properties.name }}</p>

<p>{{#_}}You can see people's comments on your idea at{{/_}} <a href="http://ideas.pblongbeach.org/place/{{ place.id }}">http://ideas.pblongbeach.org/place/{{ place.id }}</a>.</p>

<p>{{#_}}For more information on the participatory budgeting process, go to <a href="http://www.pblongbeach.org">www.pblongbeach.org</a>.{{/_}}</p>


<h2>{{#_}}How to get more involved:{{/_}}</h2>

<h3>{{#_}}Attend a Neighborhood Assembly{{/_}}</h3>

<p>{{#_}}Discuss your ideas in person with your friends and neighbors at a 9th District Neighborhood Assembly! <a href="http://www.pblongbeach.org/district9.html">Click here</a> for upcoming assembly dates, times, and locations.{{/_}}</p>

<h3>{{#_}}Volunteer{{/_}}</h3>

<p>{{#_}}There are lots of ways to get involved in PB Long Beach! You can help to get the word out to underserved communities, facilitate small group meetings, help translate materials, or design flyers. <a href="http://www.pblongbeach.org/volunteer.html">Sign up here</a>.{{/_}}</p>

<h3>{{#_}}Connect with Us{{/_}}</h3>

<p>{{#_}}Find us on <a href="https://www.facebook.com/rexrichardsonlb">Facebook</a> and follow us on <a href="https://twitter.com/rexrichardson">Twitter</a>!{{/_}}</p>

<h3>{{#_}}Contact Us{{/_}}</h3>

<p>{{#_}}Have a question? Feel free to <a href="http://www.pblongbeach.org/contact.html">contact us</a>.{{/_}}</p>

