/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/*  Changes by Erika */

#site-title {
  margin-top: 3px;
}

#site-title a:link,
#site-title a:visited {
  color: black !important;
  font-family: "Helvetica", sans-serif;
  font-size: 1.4em;
  line-height: 2.3;
}

#site-header {
  background: none;
  background-color: #ffffff;
}

a#nav-btn {
  line-height: 0.7;
  color: black;
  text-shadow: none;
}

a.en_US btn btn-block,
a.es btn btn-block {
  text-transform: none !important;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
}

ul.menu {
  background-color: white;
}

a.btn.btn-block.btn-secondary,
span.show-the-list,
span.show-the-map,
a.current-language.en_US.btn.btn-block a.current-language.es.btn.btn-block {
  padding-left: 0;
  text-transform: none;
  font-family: "Helvetica", sans-serif;
  font-size: 1em;
  color: black;
  font-weight: normal;
  line-height: 0.7;
  background-color: rgba(0, 0, 0, 0);
}

a.current-language.en_US.btn.btn-block,
a.current-language.es.btn.btn-block,
a.en_US btn btn-block,
a.es btn btn-block {
  padding-left: 0;
  text-transform: none;
  font-family: "Helvetica", sans-serif;
  font-size: 1em;
  color: black;
  font-weight: normal;
  line-height: 0.9;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

a.btn:hover {
  color: black;
}

div#pages-nav-container {
  margin-left: 50px;
}

a.list-toggle-btn.btn.btn-block {
  padding: none;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  border: none;
}

.btn-block {
  padding: 0.4em 0em;
}

div#language-picker {
  margin-left: 12px;
  float: left;
}

.btn-primary:visited,
.btn-primary:link {
  background-color: #4a90e2;
  text-transform: none;
  font-size: 0.8em;
  font-weight: normal;
}

.input-explorer-input-list-header__header,
.input-explorer-summary__summary-quote {
  font-family: "Georgia", serif;
  color: #4a4a4a;
  font-size: 1em;
  padding-bottom: 1em;
}

.input-explorer-input-item {
  width: 58%;
}

.input-explorer-input-item__response-time {
  font-family: "Georgia", serif;
  color: #4a4a4a;
  font-size: 0.8em;
}

.input-explorer-summary__summary-bar-label,
.input-explorer-summary__summary-bar-label-percentage {
  font-family: "Helvetica", sans-serif;
  font-size: 0.8em;
}

.input-explorer-summary__summary-total-items-header,
.input-explorer-summary__num-concerns,
.input-explorer-summary__num-recommendations {
  font-family: "Helvetica", sans-serif;
  font-size: 0.8em;
}

div#content.page.page-about {
  font-family: "Helvetica", sans-serif;
  font-size: 0.9em;
  line-height: 1.5;
}

div#content.page.page-about h1 {
  font-size: 1.5em;
}

div#content.page.page-about h2 {
  font-size: 1em;
  text-transform: uppercase;
}

div#content.page.page-about h3 {
  font-size: 1em;
  font-weight: bold;
}

div#content.page.page-about em {
  font-family: "Georgia", serif;
  font-size: 1.2em;
  color: #4a4a4a;
}

@media only screen and (max-width: 60em) {
  .btn:visited,
  .btn:link {
    background-color: white;
    box-shadow: none;
    border: none;
    text-transform: none;
    font-weight: normal;
    color: black;
  }

  nav.access ul.menu a.btn.btn-block.btn-secondary {
    font-weight: normal;
    text-align: left;
    float: left;
    width: 100%;
    padding-left: 0;
  }

  span#add-place-btn-container,
  a#add-place.btn.btn-block.btn-primary.btn-large {
    background-color: #4a90e2;
    font-size: 1.2em;
    color: white;
  }

  #language-picker .menu .menu {
    .en_US,
    .es {
      font-style: italic;
      padding: 0;
      margin-left: 40px;
    }
  }
}

.access li li .btn {
  background-color: white;
  text-transform: capitalize;
  font-size: 1em;
}

.access li li .btn.btn-block {
  width: 180px;
}

div#main-btns-container.pos-top-right.pos-top-left {
  background-color: #4a90e2;
}

/* =Header
-------------------------------------------------------------- */

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}

@media only screen and (min-width: 60em) {
  #main-btns-container.main-btns-container--offset-left {
    left: 260px;
  }

  #pages-nav-container {
    line-height: 1.4em;
  }

  nav.access {
    margin-top: -0.9em;
  }
}

@media only screen and (max-width: 60em) {
  #site-title {
    margin-top: 0;
  }

  #list-container.is-exposed {
    display: block !important;
  }

  .place-form-visible {
    #main-btns-container {
      display: none;
    }

    #content {
      margin-bottom: 0;
      min-height: 50%;
    }
  }

  .input-explorer-summary,
  .input-explorer-category-menu,
  .input-explorer-input-item,
  .input-explorer-input-list-header,
  .input-explorer-input-list-header__subcategory-menu {
    width: auto !important;
  }

  .input-explorer-input-list-header__subcategory-menu,
  .input-explorer-category-menu {
    overflow: scroll;
  }

  nav.is-exposed + nav.list-toggle-nav {
    display: block;

    a {
      text-align: left;
    }
  }
}
