/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

#site-title a:link,
#site-title a:visited {
  display: block;
  float: left;
  width: 350px;
  height: 50px;
  overflow: hidden;
}

/* #add-place-btn-container.default-location {
   top: unset;
   right: unset;
   bottom: 1.5em;
   left: 1.5em;
   }
   #add-place-btn-container.open-panel-location {
   top: unset;
   right: unset;
   bottom: 1.5em;
   left: 1.5em;
   } */

/* =Header
-------------------------------------------------------------- */
#site-header {
  background: url('/static/css/images/nav-bg.jpg');
  position: relative;
  z-index: 40;
  padding: 0.5em;
  box-shadow: 0 0.125em 0 rgba(0,0,0,0.2);
}

#site-title {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px -1px 1px rgba(0,0,0,0.5);
  float: left;
  margin: 0 0.5em 0 0;
  padding: 0;
}
.has-pages #site-title {
  padding-left: 3.25em;
}
#site-title a:link,
#site-title a:visited {
  display: block;
  font-size: 2em;
  line-height: 1.25;
  text-decoration: none;
  /*color: #F25218;*/
  color: #228b22;
}
#site-title a:hover {
  /*color: #FF8B61;*/
  color: #abde76;
}

/* =Map
------------------------------------------------------------- */

.raingardens-cluster-large {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: greenyellow;
  text-align: center;
  font-size: 24px;
}
.raingardens-cluster-small {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #ffdb58;
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  box-sizing: border-box;
}



/* =Media Queries
-------------------------------------------------------------- */
/* iphone 4 (320 x 480)*/

@media only screen and (max-width: 60em) {
  #site-title a:link,
  #site-title a:visited {
    width: 180px;
    height: 25px;
    background-size: 180px auto;
  }
  #place-form-type-choice {
    padding-bottom: 1em;
  }
  #place-form-type-choice a.button {
      display: block;
      float: left;
      width: 40%;
      padding: .5em .5em;
      margin: 0;
      border: 2px solid white;
  }
}

@media only screen and (max-width: 60em) {
  #site-title a:link,
  #site-title a:visited {
    width: 180px;
    height: 25px;
    background-size: 180px auto;
    margin: 10px 0 0 0;
  }
}

@media only screen and (min-width: 768px) {
  #place-form-type-choice a.button {
    width: 40%;
    font-size: 100%;
    padding: 1em 1em;
    margin: 0 2% 2% 0;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}
