/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */


/* =Base Styles
-------------------------------------------------------------- */

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.325em 0.625em;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #1a8504;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #a3c7d9;
  box-shadow: -0.25em 0.25em 0 rgba(0,0,0,0.1);
  font-weight: 600;
  border: 3px solid rgba(0,0,0,0.05);
  border-radius: 3px;
}
.btn:hover {
  background-color: #93b7c9;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #00aaff;
  color: #fff;
  background-color:rgba(242, 82, 24, 0.89);
}
.btn-primary:hover {
  background-color: #007fbf;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  background-color: #ccc;
  color: #ffffff;
  background: none;
  border: none;
  box-shadow: none;
}

.btn-secondary:hover {
  background-color: #007fbf;
  color: #fff;
}
.btn-disabled,
.btn-disabled:visited,
.btn-disabled:link,
.btn-disabled:hover {
  background-color: #eee;
  color: #ccc;
  box-shadow: none;
}
.btn-block,
.btn-block:visited,
.btn-block:link {
  clear: both;
  display: block;
  padding: 0.5em 0.75em;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.btn-large {
  font-size: 1.25em;
  padding: 0.75em 1em 0.5em;
}
.btn-small {
  font-size: 0.75em;
}


/* =Header
-------------------------------------------------------------- */

#site-header {
  /*color: #eee;*/
  background: url(http://www.12000raingardens.org/wp-content/themes/rt_gantry_wp/images/header/nav-bg.jpg);
  position: relative;
  z-index: 40;
  padding: 0.5em;
  box-shadow: 0 0.125em 0 rgba(0,0,0,0.2);
}

#site-title {
  /*color: #F25218;*/ /*too much like 'simpsons'*/
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px -1px 1px rgba(0,0,0,0.5);
  float: left;
  margin: 0 0.5em 0 0;
  padding: 0;
}
.has-pages #site-title {
  padding-left: 3.25em;
}
#site-title a:link,
#site-title a:visited {
  display: block;
  font-size: 2em;
  line-height: 1.25;
  text-decoration: none;
  /*color: #F25218;*/
  color: #228b22;
}
#site-title a:hover {
  /*color: #FF8B61;*/
  color: #abde76;
}


/* =Map
------------------------------------------------------------- */

#map-container {
  bottom: 0;
}

/* =Content
------------------------------------------------------------- */

#content {
  bottom: 0;
}

/* =Footer
------------------------------------------------------------- */

#colophon {
  visibility: hidden;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}