.getinvolved {
  text-align: center;
  height: 100% auto;
  width: 100% auto;
  position: relative;
  // background: rgba(132, 249, 142, 0.9);
  // article {
  //   padding: 0em 0em 0em;
  // }

  .fa-info-circle {
    color: red;
    font-size: 100px;
  }

  .fa-hand-o-right {
    color: red;
  }
  
  #getinvolved {
    font-style: italic;
  }

}
