// ################################
// HEADER - SELECTORS
// ################################

#site-header {
    position: relative;
    z-index: 99;
    padding: 0.5em;
    box-shadow: 0 0.125em 0 $opacity-low-black;
}

#site-title {
    font-size: 0.75em;
    font-family: "Alegreya Sans", sans-serif;
    text-shadow: 1px -1px 1px $opacity-med-black;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0;
}

.has-pages #site-title {
    padding-left: 3.25em;
}

#site-title a {
    &:link, &:visited {
        display: block;
        font-family: "Alegreya Sans", sans-serif;
        font-size: 2em;
        line-height: 1.25;
        text-decoration: none;
        color: #13b309;
    }

    &:hover {
        color: orange;
    }
}

// Navigation Button - Selectors

#nav-btn {
    color: #bbb;
    font-size: 2em;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    text-shadow: (-1px) 1px 1px rgba(0, 0, 0, 0.25);
    float: left;
    width: 1.25em;
    padding: 0.125em 0;
    position: absolute;
    left: 0.25em;
    top: 0.25em;
}

// Navigation Menu - Selectors

.access {
    font-weight: bold;
    text-align: center;
    float: left;
    width: 100%;
    margin: 0.5em 0 0;
    padding: 0;
    display: none;

    &.is-exposed {
        display: block;
    }

    li {
        position: relative;
        padding-bottom: 0.5em;

        li {
            padding-top: 0.5em;
            padding-bottom: 0;
        }
    }
}

// User Menu - Selectors

.user-menu {}

#sign-in-btn {
    background-color: $button-background-blue;
    color: $button-color-white;
    font-size: 0.75em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 3.25;
    float: right;
    display: block;
    padding: 0 0.5em;
    margin: 0.25em, 0.75em, 0, 0.5em;
    height: 100%;

    &:hover {
        color: $button-background-lightblue;
    }
}

.sign-in-menu {
    font-weight: bold;
    text-align: center;
    float: left;
    width: 100%;
    margin: 0.5em 0;
    padding: 0;
    display: none;

    &.is-exposed {
        display: block;
    }
}

.sign-in-menu-item {
    float: left;
    width: 50%;
    font-weight: bold;
}

a {
    &.auth-btn {
        text-decoration: none;
        display: block;
        padding: 0.5em;
        box-shadow: (-0.25em) 0.25em 0 $opacity-very-low-black;
    }

    &.twitter-btn {
        background-color: #4099FF;
        color: $button-color-white !important;
        margin-right: 0.25em;
    }

    &.facebook-btn {
        background-color: #3b5998;
        color: $button-color-white !important;
        margin-left: 0.25em;
    }
}

.authed #sign-in-btn {
    font-size: 1em;
    padding: 0;
    outline: 0;
}

.header-avatar {
    float: right;
    width: 3em;
    height: 3em;
    max-width: none;
}

.signed-in-as {
    font-weight: normal;
    font-size: 0.875em;
}

.current-user {}

a.logout-btn {
    color: $button-background-lightblue;
    font-size: 0.875em;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
}