// ################################
// SIDEBAR - SELECTORS
// ################################

#side-bar {
    display: none;
    overflow: auto;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.5);

    p {
        color: #F25218;
        font-family: $default-font-family;
        text-shadow: 1px -1px 1px $opacity-med-black;
        font-size: 1.4em;
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    hr {
        margin: 0.5em 0;

        //padding: 7px 0 7px 10px;
        //margin: 0;
        //letter-spacing: 1px;
        //text-transform: uppercase;
        //height: 12px;
        border: none;
    }

    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*---- leaflet side bar overrides ----*/
.sidebar-pane {
    padding: 34px 0 0 10px;
    .sidebar-header {
        margin: -34px 0 0 -10px;
        padding: 0 0 0 10px;
        position: absolute;
        width: 100%;
        z-index: 99;
        box-sizing: border-box;
        .sidebar-close {
            z-index: 1;
            i {
                margin-right: 30px;
                background: #0074d9;
                border-radius: 50%;
                padding: 6px 10px 5px 6px;
            }
        }
    }
    #gis-layers {
        margin-left: -10px;
    }

}

//#side-bar header {
//font-size: 2.3em;
//font-family: 'Dancing Script', cursive;
//text-shadow: 1px -1px 1px rgba(0,0,0,0.5);
//}