/*
 * This CSS file follows the default Mapseed style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */
header {
  border-top: 3px solid #ef5f46;
}


/* =Custom Pages
-------------------------------------------------------------- */

.next-btn {
  background-color: #115588 !important;
  border-radius: 3px !important;
  float: right !important;
  outline: none !important;
  border: none !important;
  text-transform: uppercase !important;
  color: #fff !important;
  padding: 0.5em !important;
  margin-left: 10px !important;

  &:hover {
    background-color: #9fbbcf !important;
  }
}
