/*
 * This CSS file follows the default Mapseed style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */
body {
  font-family: PTSans, sans-serif !important;
}

header {
  border-top: 3px solid #ef5f46;
}

/* =Input Form
-------------------------------------------------------------- */
/* 
 * TODO: All these custom selectors should be ported to styled components.
 */
.mapseed-form-stage-body {
  font-size: 1.15rem;
}

.place-detail-promotion-bar > button {
  color: #007fbf;
  background-color: #a3c7d9;

  &:hover {
    background-color: #93b7c9;
  }
}

[data-field-type="datetime"],
[data-field-name="my_image"],
[data-field-type="big_toggle"],
[data-field-type="big_radio"] {
  background-color: #efefef !important;
  box-shadow: 0 2px 3px #aaa, 0 5px 5px #eee !important;
  margin-bottom: 15px !important;
}

[data-field-type="geocoding"],
[data-field-name="private-landowner_phone"],
[data-field-name="private-landowner_name"],
[data-field-name="other-comments"],
[data-field-name="drag_map_info"],
[data-field-type="geolocate"] {
  background-color: #efefef !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  box-shadow: 0 2px 3px #aaa, 0 5px 5px #eee !important;
}

[data-field-name="private-landowner_email"],
[data-field-name="private"],
[data-field-name="private-landowner_name"],
[data-field-name="private-use_photos"],
[data-field-name="private-my_image"],
[data-field-name="private-landowner_phone"] {
  margin-top: 15px !important;
}

[data-field-name="emergency_kit"],
[data-field-name="food_and_water"],
[data-field-name="medications"],
[data-field-name="clothing"],
[data-field-name="eyeglasses"],
[data-field-name="car_keys_money"],
[data-field-name="first_aid_kit"],
[data-field-name="flashlight"],
[data-field-name="radio"],
[data-field-name="sanitation_supplies"],
[data-field-name="documents"],
[data-field-name="pet_food"] {
  margin-bottom: 0 !important;
}

[data-field-name="food_and_water"],
[data-field-name="medications"],
[data-field-name="clothing"],
[data-field-name="eyeglasses"],
[data-field-name="car_keys_money"],
[data-field-name="first_aid_kit"],
[data-field-name="flashlight"],
[data-field-name="radio"],
[data-field-name="sanitation_supplies"],
[data-field-name="documents"],
[data-field-name="pet_food"] {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  padding-left: 40px !important;
}

[data-field-type="geolocate"] {
  button {
    background-color: #efefef !important;
  }
}

.geocoding-field__do-geocode-icon:before {
  color: #ef5f46 !important;
}

[data-field-type="informational_html"] {
  border: 0 !important;
  padding: 0 !important;
}

[data-field-type="informational_html"] .input-form__field-prompt-container {
  display: none;
}

.input-form__field-prompt {
  color: #444 !important;
  font-size: 1.15em !important;
  font-weight: 900 !important;
  margin-top: 0 !important;
  margin-bottom: 8px !important;
}

.form-stage-header-bar {
  display: none !important;
}

[data-field-type="number"] {
  background-color: #efefef !important;
  box-shadow: 0 2px 2px #aaa, 0 5px 5px #eee !important;
}

[data-field-type="datetime"] {
  margin-top: -15px !important;
}

.big-toggle-field__label,
.big-radio-field__label {
  margin-top: 0 !important;
  border: none !important;
  color: #36454f !important;
  line-height: 1.4em !important;
  min-height: 30px !important;
  background-color: #efefef !important;
  overflow: hidden !important;
  padding-left: 50px !important;
}

.textarea-field,
.text-field,
input[type="number"],
.datetime-field__input {
  border-color: #999999 !important;
  border-width: 4px !important;
}

.geocoding-field__input {
  background-color: #fff !important;
  border: 4px solid #999999 !important;
}

.big-toggle-field__label--hoverable:hover:before,
.big-radio-field__label--hoverable:hover:before {
  text-indent: 0.5em !important;
  color: #999999 !important;
}

.big-toggle-field,
.big-radio-field {
  margin-right: 24px !important;
  margin-top: 8px !important;
}

.big-toggle-field__label:before,
.big-radio-field__label:before {
  max-height: 2em !important;
  top: 50% !important;
  transform: translate(0, -50%) !important;
  height: 2.5em !important;
  background-color: #999 !important;
  width: 2em !important;
  text-indent: 0.5em !important;
  border-radius: 4px;
  box-shadow: 0 3px 0 hsla(0, 0%, 100%, 0.45), 0 -2px 0 hsla(0, 0%, 0%, 0.45);
}

.datetime-field__label-ongoing:before {
  background-color: #efefef !important;
  border: 4px solid #999999 !important;
}

.datetime-field__label-ongoing--toggled:before {
  background-color: #999999 !important;
  color: #fff !important;
}

.datetime-field__label-ongoing--hoverable:hover:before {
  color: #999999 !important;
}

.big-radio-field__label--toggled.big-radio-field__label--hoverable:hover:before,
.big-toggle-field__label--toggled.big-toggle-field__label--hoverable:hover:before,
.datetime-field__label-ongoing--toggled.datetime-field__label-ongoing--hoverable:hover:before {
  color: #fff !important;
}

.big-toggle-field__label--toggled:before,
.big-radio-field__label--toggled:before {
  background-color: #999999 !important;
}

.datetime-field {
  border-color: #999999 !important;
}

.input-form__optional-msg {
  display: none !important;
}

.form-stage-control-bar {
  background: none !important;
}

.mapseed__progress-bar {
  background-color: #fff !important;
}

.mapseed__progress-bar-inner {
  background-color: #ef5f46 !important;
}

.mapseed__link--color-primary {
  background-color: #02440b !important;
}

.mapseed__link--color-primary:hover {
  color: #999999 !important;
}

.mapseed__link--disabled:hover {
  color: #ccc !important;
}

.mapseed__progress-bar {
  background-color: #efefef !important;
}

/* =Custom Pages
-------------------------------------------------------------- */

.next-btn {
  background-color: #115588 !important;
  border-radius: 3px !important;
  float: right !important;
  outline: none !important;
  border: none !important;
  text-transform: uppercase !important;
  color: #fff !important;
  padding: 0.5em !important;
  margin-left: 10px !important;

  &:hover {
    background-color: #9fbbcf !important;
  }
}
