/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

body {
  font-family: Roboto,sans-serif;
}

#site-title a:link,
#site-title a:visited {
  display: block;
  float: left;
  width: 350px;
  height: 50px;
  overflow: hidden;
}

#left-sidebar-container {
  position: absolute;
  width: auto;
  overflow: auto;
  left: 0;
  z-index: 15;
  background-color: #eaddc6;
  opacity: 0.95;
  box-shadow: 0.325em 0 0 rgba(0, 0, 0, 0.1);
}
 .btn-primary, .btn-primary:visited, .btn-primary:link {
  background-color: rgba(242, 82, 24, 0.89);
  color: #fff;
}
.btn-primary:hover {
  background-color: #68BDCF;
}
 .map-layer-selector__layer-title--selected {
  background-color: #F8F4EC;
   &:hover {
    background-color: #dac39a;
  }
}
.map-layer-selector__status-icon--green {
  color: #BD9462;
}

.map-layer-selector__status-icon--red {
  color: black;
}

.mapseed__close-button {
    border: none;
    background-color: transparent;
    color: #BD9462;
}
/* =Header
-------------------------------------------------------------- */




/* =Media Queries
-------------------------------------------------------------- */
