.input-explorer-input-item {
  position: relative;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 100px;
  border: 1px solid #cccccc;
  padding: 10px;
}

.input-explorer-input-item__response-time {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  color: #aaaaaa;
  font-style: italic;
}

.input-explorer-input-item__subcategory {
  color: red;
  text-transform: uppercase;
  margin-right: 10px;
}

.input-explorer-input-item__sticky-toggle-container {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.8em;
  margin: 0;
}

.input-explorer-input-item__sticky-toggle-input {
  display: none;
}

.input-explorer-input-item__sticky-toggle-label:before {
  font-family: FontAwesome;
  content: "\f006";
}

.input-explorer-input-item__sticky-toggle-label--toggleable:hover {
  cursor: pointer;
}

.input-explorer-input-item__sticky-toggle-label--toggled:before {
  font-family: FontAwesome;
  content: "\f005";
}
