/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

body {
  font-family: Raleway, sans-serif !important;
}

header {
  border-top: 3px solid #29b1cb;
}

/* =Custom Pages
-------------------------------------------------------------- */

.next-btn {
  background-color: #61974b !important;
  border-radius: 3px !important;
  float: right !important;
  outline: none !important;
  border: none !important;
  text-transform: uppercase !important;
  color: #fff !important;
  padding: 0.5em !important;
  margin-left: 10px !important;

  &:hover {
    background-color: rgb(191, 213, 183) !important;
  }
}
