.place-detail-promotion-bar {
  margin-left: 15px;
}

.place-detail-promotion-bar--with-bottom-space {
  margin-bottom: 20px;
}

.place-detail-promotion-bar__social-buttons {
  display: block;
}

.place-detail-promotion-bar__social-buttons--horizontal {
  display: inline;
  margin-left: 10px;
}
