.place-detail-survey-response {
  height: 100%;
}

.place-detail-survey-response__body {
  position: relative;
  padding: 10px;
  background-color: #eee;
  border-top: 1px solid #a8a8a8;
  border-right: 1px solid #c8c8c8;
  border-bottom: 0;
  border-left: 1px solid #c8c8c8;
  border-radius: 15px;

  &:after {
    content: "";
    height: 0;
    width: 0;
    border: 1em solid transparent;
    border-top-color: #eee;
    position: absolute;
    top: 100%;
    left: 1.5em;
  }
}

.place-detail-survey-response__paragraph {
  margin: 0;
}

.place-detail-survey-response__metadata-bar {
  display: block;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.place-detail-survey-response__avatar {
  float: left;
}

.place-detail-survey-response__submitter-name {
  display: block;
}

.place-detail-survey-response__details-container {
  line-height: 1em;
}
