@charset "UTF-8";
/* line 5, ../sass/_basic.sass */
html {
  min-height: 100%;
}

/* line 8, ../sass/_basic.sass */
body {
  height: 100%;
  text-align: left;
}
/* line 11, ../sass/_basic.sass */
body:after {
  content: "mobile";
  display: none;
}

/* line 17, ../sass/_basic.sass */
a {
  color: #36454f;
}
/* line 19, ../sass/_basic.sass */
a:active, a:visited {
  color: #36454f;
}

/* line 22, ../sass/_basic.sass */
label {
  color: #36454f;
}
/* line 24, ../sass/_basic.sass */
label:active, label:visited {
  color: #36454f;
}

/* line 27, ../sass/_basic.sass */
a:hover, label:hover {
  color: #00aaff;
}

/* line 31, ../sass/_basic.sass */
a:hover, a:active {
  outline: none;
}

/* line 36, ../sass/_basic.sass */
body {
  line-height: 1.25;
  font-family: "Roboto", sans-serif;
  color: #36454f;
}

/* line 41, ../sass/_basic.sass */
select, input, textarea {
  font-family: "Roboto", sans-serif;
  color: #36454f;
}

/* line 45, ../sass/_basic.sass */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.25em 0;
}

/* line 48, ../sass/_basic.sass */
h1, h2 {
  font-size: 2em;
}

/* line 51, ../sass/_basic.sass */
h3 {
  font-size: 1.75em;
}

/* line 54, ../sass/_basic.sass */
h4 {
  font-size: 1.5em;
}

/* line 57, ../sass/_basic.sass */
h5 {
  font-size: 1.25em;
}

/* line 60, ../sass/_basic.sass */
h6 {
  font-size: 1em;
  text-transform: uppercase;
}

/* line 64, ../sass/_basic.sass */
p {
  margin: 0 0 1.5em;
}

/* line 69, ../sass/_basic.sass */
ul, ol, dl {
  margin-bottom: 0.75em;
}

/* line 72, ../sass/_basic.sass */
li {
  padding-bottom: 0.75em;
}

/* line 76, ../sass/_basic.sass */
nav ul, nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 81, ../sass/_basic.sass */
.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 86, ../sass/_basic.sass */
nav li, .unstyled-list li {
  padding-bottom: 0;
}

/* line 89, ../sass/_basic.sass */
strong {
  font-weight: 800;
}

/* line 92, ../sass/_basic.sass */
hr {
  margin: 1.5em 0;
  border: 1px solid #eeeeee;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.75);
  border-right: 0;
  border-left: 0;
}

/* line 104, ../sass/_basic.sass */
.clearfix {
  zoom: 1;
}
/* line 105, ../sass/_basic.sass */
.clearfix:before {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 110, ../sass/_basic.sass */
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

/* line 119, ../sass/_basic.sass */
.is-hidden, .hidden {
  display: none;
  visibility: hidden;
}

/* line 125, ../sass/_basic.sass */
.is-screen-reader-text, .is-visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 133, ../sass/_basic.sass */
.is-invisible {
  visibility: hidden;
}

/* line 136, ../sass/_basic.sass */
.nobreak {
  white-space: nowrap;
}

/* line 139, ../sass/_basic.sass */
.capitalize {
  text-transform: capitalize;
}

/* line 144, ../sass/_basic.sass */
img {
  max-width: 100%;
  height: auto;
}

/* line 148, ../sass/_basic.sass */
.icon-inline {
  height: 1.5em;
  width: auto;
  margin: 0 0.25em -0.325em 0.5em;
}

/* line 153, ../sass/_basic.sass */
.icon-muted {
  opacity: 0.75;
}

/* line 3, ../sass/_buttons.sass */
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.325em 0.625em;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #007fbf;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #a3c7d9;
  box-shadow: -0.25em 0.25em 0 rgba(0, 0, 0, 0.1);
  font-weight: 600;
  border: 3px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}
/* line 20, ../sass/_buttons.sass */
.btn:visited, .btn:link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.325em 0.625em;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #007fbf;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #a3c7d9;
  box-shadow: -0.25em 0.25em 0 rgba(0, 0, 0, 0.1);
  font-weight: 600;
  border: 3px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}
/* line 37, ../sass/_buttons.sass */
.btn:hover {
  background-color: #93b7c9;
}

/* line 40, ../sass/_buttons.sass */
.btn-primary {
  background-color: #00aaff;
  color: #fff;
  background-color: rgba(242, 82, 24, 0.89);
}
/* line 44, ../sass/_buttons.sass */
.btn-primary:visited, .btn-primary:link {
  background-color: #00aaff;
  color: #fff;
  background-color: rgba(242, 82, 24, 0.89);
}
/* line 48, ../sass/_buttons.sass */
.btn-primary:hover {
  background-color: #007fbf;
}

/* line 51, ../sass/_buttons.sass */
.btn-secondary {
  background-color: #ccc;
  color: #007fbf;
  background: none;
  border: none;
  box-shadow: none;
}
/* line 57, ../sass/_buttons.sass */
.btn-secondary:visited, .btn-secondary:link {
  background-color: #ccc;
  color: #007fbf;
  background: none;
  border: none;
  box-shadow: none;
}
/* line 63, ../sass/_buttons.sass */
.btn-secondary:hover {
  background-color: #007fbf;
  color: #fff;
}

/* line 67, ../sass/_buttons.sass */
.btn-disabled {
  background-color: #eee;
  color: #ccc;
  box-shadow: none;
}
/* line 71, ../sass/_buttons.sass */
.btn-disabled:visited, .btn-disabled:link, .btn-disabled:hover {
  background-color: #eee;
  color: #ccc;
  box-shadow: none;
}

/* line 76, ../sass/_buttons.sass */
.btn-block {
  clear: both;
  display: block;
  padding: 0.5em 0.75em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 84, ../sass/_buttons.sass */
.btn-block:visited, .btn-block:link {
  clear: both;
  display: block;
  padding: 0.5em 0.75em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 93, ../sass/_buttons.sass */
.btn-large {
  font-size: 1.25em;
  padding: 0.75em 1em 0.5em;
}

/* line 97, ../sass/_buttons.sass */
.btn-small {
  font-size: 0.75em;
}

/* line 104, ../sass/_buttons.sass */
.big-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}
/* line 109, ../sass/_buttons.sass */
.big-btn + label {
  position: relative;
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #999999;
  border-radius: 4px;
  padding-right: 10px;
  border: 2px solid #D1D3D4;
}
/* line 124, ../sass/_buttons.sass */
.big-btn + label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 1px 0 0 1px;
}
/* line 135, ../sass/_buttons.sass */
.big-btn:hover:not(:checked) + label {
  color: #444444;
}
/* line 137, ../sass/_buttons.sass */
.big-btn:hover:not(:checked) + label:before {
  content: "✔";
  text-indent: 0.9em;
  color: #EEEEEE;
}
/* line 142, ../sass/_buttons.sass */
.big-btn:checked + label {
  color: #222222;
  font-weight: bold;
  border: 2px solid #f25218;
}
/* line 146, ../sass/_buttons.sass */
.big-btn:checked + label:before {
  content: "✔";
  text-indent: 0.9em;
  color: white;
  background-color: #f25218;
}

/* Place type category button styles */
/* line 153, ../sass/_buttons.sass */
#category-btns {
  margin-bottom: 20px;
}

/* line 156, ../sass/_buttons.sass */
.category-btn {
  display: none;
}
/* line 158, ../sass/_buttons.sass */
.category-btn + label {
  top: 0px;
  text-transform: uppercase;
  font-size: 12pt;
  width: 200px;
  display: block;
  position: relative;
  opacity: 0.5;
  height: 46px;
  margin-bottom: 1px;
}
/* line 168, ../sass/_buttons.sass */
.category-btn + label > img {
  height: 36px;
  width: 30px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 4px 0 0 4px;
  padding: 3px;
  display: inline;
}
/* line 177, ../sass/_buttons.sass */
.category-btn + label > span {
  width: 210px;
  position: absolute;
  top: 0px;
  left: 38px;
  padding-left: 15px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 0 4px 4px 0;
  padding-top: 11px;
  padding-bottom: 11px;
}
/* line 190, ../sass/_buttons.sass */
.category-btn:checked + label, .category-btn:hover + label {
  opacity: 1;
  cursor: pointer;
}
/* line 193, ../sass/_buttons.sass */
.category-btn:checked + label > img, .category-btn:hover + label > img {
  border-color: #f25218;
}
/* line 195, ../sass/_buttons.sass */
.category-btn:checked + label > span, .category-btn:hover + label > span {
  background-color: #f25218;
  color: white;
}

/* Selected category placeholder styles */
/* line 200, ../sass/_buttons.sass */
#selected-category {
  position: relative;
  width: 280px;
  margin-right: 0;
}
/* line 204, ../sass/_buttons.sass */
#selected-category label {
  cursor: default !important;
}

/* Other dynamic form styles */
/* line 208, ../sass/_buttons.sass */
.category-menu-hamburger {
  width: 30px;
  height: 36px;
  margin-right: 10px;
  position: absolute;
  top: 5px;
  left: 290px;
}
/* line 215, ../sass/_buttons.sass */
.category-menu-hamburger:before {
  font-family: FontAwesome;
  font-size: 2.2em;
  content: "";
}
/* line 219, ../sass/_buttons.sass */
.category-menu-hamburger:hover {
  color: #f25218;
  cursor: pointer;
}

/* Story bar styles */
/* line 224, ../sass/_buttons.sass */
.btn-previous-story-nav {
  width: 10%;
  color: white;
  cursor: pointer;
}
/* line 228, ../sass/_buttons.sass */
.btn-previous-story-nav:before {
  font-size: 3.3em;
  content: "";
}
/* line 231, ../sass/_buttons.sass */
.btn-previous-story-nav:hover {
  color: #93b7c9;
}

/* line 234, ../sass/_buttons.sass */
.btn-next-story-nav {
  width: 10%;
  color: white;
  cursor: pointer;
}
/* line 238, ../sass/_buttons.sass */
.btn-next-story-nav:before {
  font-size: 3.3em;
  content: "";
}
/* line 241, ../sass/_buttons.sass */
.btn-next-story-nav:hover {
  color: #93b7c9;
}

/* line 244, ../sass/_buttons.sass */
.story-nav-disabled {
  visibility: hidden;
}

/* line 5, ../sass/_forms.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0 0 1.2em;
}

/* line 10, ../sass/_forms.sass */
label {
  font-size: 0.75em;
  margin-right: 0.5em;
  padding-bottom: 0;
}
/* line 16, ../sass/_forms.sass */
label small {
  text-transform: none;
}

/* line 20, ../sass/_forms.sass */
input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
  outline: 0;
  border: 0.25em solid #a3c7d9;
  border-radius: 0;
  padding: 0.5em;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 42, ../sass/_forms.sass */
select, textarea {
  outline: 0;
  border: 0.25em solid #a3c7d9;
  border-radius: 0;
  padding: 0.5em;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 53, ../sass/_forms.sass */
input:focus, select:focus {
  outline: 2px solid #007fbf;
}

/* line 56, ../sass/_forms.sass */
textarea {
  height: 6.5em;
  resize: none;
}
/* line 57, ../sass/_forms.sass */
textarea:focus {
  outline: 2px solid #007fbf;
}

/* line 62, ../sass/_forms.sass */
select {
  background-color: #fff;
}

/* line 69, ../sass/_forms.sass */
.form-submitted .gatekeeper-invalid, .form-submitted input:invalid, .form-submitted textarea:invalid, .form-submitted select:invalid {
  outline: 2px solid #b2182b;
}

/* line 72, ../sass/_forms.sass */
.fileinput-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
/* line 76, ../sass/_forms.sass */
.fileinput-container input {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* line 86, ../sass/_forms.sass */
.fileinput-name {
  display: inline-block;
}

/* line 89, ../sass/_forms.sass */
.form-spinner {
  clear: both;
  padding: 1em;
}

/* line 93, ../sass/_forms.sass */
.form-field {
  margin: 0 0 1em;
}

/* line 96, ../sass/_forms.sass */
.form-annotation {
  font-size: 0.8em;
  font-style: italic;
}

/* line 100, ../sass/_forms.sass */
.alt-label {
  display: none;
}

/* line 6, ../sass/_header.sass */
#site-header {
  background: url(images/lightpaperfibers.png);
  position: relative;
  z-index: 99;
  padding: 0.5em;
  box-shadow: 0 0.125em 0 rgba(0, 0, 0, 0.2);
}

/* line 13, ../sass/_header.sass */
#site-title {
  font-size: 0.75em;
  font-family: "Alegreya Sans", sans-serif;
  text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.5);
  float: left;
  margin: 0 0.5em 0 0;
  padding: 0;
}

/* line 21, ../sass/_header.sass */
.has-pages #site-title {
  padding-left: 3.25em;
}

/* line 25, ../sass/_header.sass */
#site-title a:link, #site-title a:visited {
  display: block;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 2em;
  line-height: 1.25;
  text-decoration: none;
  color: #13b309;
}
/* line 32, ../sass/_header.sass */
#site-title a:hover {
  color: orange;
}

/* line 37, ../sass/_header.sass */
#nav-btn {
  background: url(images/lightpaperfibers.png);
  color: #bbb;
  font-size: 2em;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.25);
  float: left;
  width: 1.25em;
  padding: 0.125em 0;
  position: absolute;
  left: 0.25em;
  top: 0.25em;
}

/* line 54, ../sass/_header.sass */
.access {
  font-weight: bold;
  text-align: center;
  float: left;
  width: 100%;
  margin: 0.5em 0 0;
  padding: 0;
  display: none;
}
/* line 62, ../sass/_header.sass */
.access.is-exposed {
  display: block;
}
/* line 64, ../sass/_header.sass */
.access li {
  position: relative;
  padding-bottom: 0.5em;
}
/* line 67, ../sass/_header.sass */
.access li li {
  padding-top: 0.5em;
  padding-bottom: 0;
}

/* line 75, ../sass/_header.sass */
#sign-in-btn {
  background-color: #007fbf;
  color: #fff;
  font-size: 0.75em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 3.25;
  float: right;
  display: block;
  padding: 0 0.5em;
  margin: 0.25em, 0.75em, 0, 0.5em;
  height: 100%;
}
/* line 88, ../sass/_header.sass */
#sign-in-btn:hover {
  color: #a3c7d9;
}

/* line 91, ../sass/_header.sass */
.sign-in-menu {
  font-weight: bold;
  text-align: center;
  float: left;
  width: 100%;
  margin: 0.5em 0;
  padding: 0;
  display: none;
}
/* line 99, ../sass/_header.sass */
.sign-in-menu.is-exposed {
  display: block;
}

/* line 102, ../sass/_header.sass */
.sign-in-menu-item {
  float: left;
  width: 50%;
  font-weight: bold;
}

/* line 108, ../sass/_header.sass */
a.auth-btn {
  text-decoration: none;
  display: block;
  padding: 0.5em;
  box-shadow: -0.25em 0.25em 0 rgba(0, 0, 0, 0.1);
}
/* line 113, ../sass/_header.sass */
a.twitter-btn {
  background-color: #4099FF;
  color: #fff !important;
  margin-right: 0.25em;
}
/* line 117, ../sass/_header.sass */
a.facebook-btn {
  background-color: #3b5998;
  color: #fff !important;
  margin-left: 0.25em;
}

/* line 122, ../sass/_header.sass */
.authed #sign-in-btn {
  font-size: 1em;
  padding: 0;
  outline: 0;
}

/* line 127, ../sass/_header.sass */
.header-avatar {
  float: right;
  width: 3em;
  height: 3em;
  max-width: none;
}

/* line 133, ../sass/_header.sass */
.signed-in-as {
  font-weight: normal;
  font-size: 0.875em;
}

/* line 139, ../sass/_header.sass */
a.logout-btn {
  color: #a3c7d9;
  font-size: 0.875em;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 5, ../sass/_map.sass */
#map-container {
  position: relative;
  background: #a3c7d9;
  z-index: 10;
}

/* line 10, ../sass/_map.sass */
#map {
  background: #a3c7d9;
  height: 150px;
}

/* line 17, ../sass/_map.sass */
.locate-me {
  background-image: url(images/locate-me.png);
}

/* line 21, ../sass/_map.sass */
#map .leaflet-bar a {
  width: 33px;
  height: 33px;
  line-height: 33px;
}
/* line 25, ../sass/_map.sass */
#map .leaflet-bar a:hover {
  width: 33px;
  height: 33px;
  line-height: 33px;
}
/* line 29, ../sass/_map.sass */
#map .leaflet-control-attribution {
  font-size: 9px;
  -webkit-text-size-adjust: none;
}

/* line 38, ../sass/_map.sass */
#add-place-btn-container {
  background: url(images/lightpaperfibers.png);
  padding: 0.5em 0.5em 0.75em;
  position: relative;
  z-index: 30;
  box-shadow: 0 -0.325em 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #666;
}

/* line 48, ../sass/_map.sass */
.content-visible #add-place-btn-container {
  display: none;
}

/* line 54, ../sass/_map.sass */
#centerpoint {
  display: none;
}
/* line 56, ../sass/_map.sass */
#centerpoint.newpin {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  z-index: 11;
  width: 100px;
  height: 100px;
  margin: -44px 0 0 -12px;
}

/* line 67, ../sass/_map.sass */
#spotlight-place-mask {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

/* line 72, ../sass/_map.sass */
#spotlight-place-mask-fill {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
}

/* line 78, ../sass/_map.sass */
#centerpoint.newpin .x {
  display: block;
  position: absolute;
  width: 18px;
  height: 12px;
  background: transparent url(images/marker-x.png) 0 0 no-repeat scroll;
  left: 4px;
  top: 37px;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
/* line 92, ../sass/_map.sass */
#centerpoint.newpin:hover .x, #centerpoint.newpin.dragging .x {
  opacity: 1;
}
/* line 94, ../sass/_map.sass */
#centerpoint.newpin .shadow {
  display: block;
  height: 47px;
  width: 47px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url(images/marker-shadow.png) 0 3px no-repeat scroll;
  -webkit-transition: opacity 0s, background-position 0.3s ease;
  -moz-transition: opacity 0s, background-position 0.3s ease;
  -o-transition: opacity 0s, background-position 0.3s ease;
  -ms-transition: opacity 0s, background-position 0.3s ease;
  transition: opacity 0s, background-position 0.3s ease;
}
/* line 107, ../sass/_map.sass */
#centerpoint.newpin:hover .shadow, #centerpoint.newpin.dragging .shadow {
  opacity: 0.2;
  background-image: url(images/marker-shadow.png), url(images/marker-shadow.png), url(images/marker-shadow.png), url(images/marker-shadow.png), url(images/marker-shadow.png), url(images/marker-shadow.png), url(images/marker-shadow.png), url(images/marker-shadow.png), url(images/marker-shadow.png);
  background-position: 0px -3px, 3px -3px, 6px -3px, 0px -6px, 3px -6px, 6px -6px, 0px -9px, 3px -9px, 6px -9px;
}
/* line 111, ../sass/_map.sass */
#centerpoint.newpin .marker {
  display: block;
  width: 25px;
  height: 41px;
  background: transparent url(images/marker-plus.png) 0 0 no-repeat scroll;
  position: relative;
  top: 3px;
  -webkit-transition: top 0.4s ease;
  -moz-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  -ms-transition: top 0.4s ease;
  transition: top 0.4s ease;
}
/* line 123, ../sass/_map.sass */
#centerpoint.newpin:hover .marker, #centerpoint.newpin.dragging .marker {
  top: -20px;
}

/* line 128, ../sass/_map.sass */
.drag-marker-instructions {
  background-color: LightYellow;
  background-color: rgba(240, 240, 0, 0.2);
  color: #444;
  font-weight: bold;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-bottom: 1em;
  padding: 0.75em 1em 0.875em;
  border-radius: 0.325em;
}

/* line 139, ../sass/_map.sass */
.drag-marker-warning {
  background-color: LightYellow;
  background-color: rgba(240, 240, 0, 0.2);
  color: #444;
  font-weight: bold;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-bottom: 1em;
  padding: 0.75em 1em 0.875em;
  border-radius: 0.325em;
  background-color: LightPink;
  background-color: rgba(242, 206, 206, 0.8);
}

/* line 154, ../sass/_map.sass */
#ajax-error-msg {
  display: none;
  position: absolute;
  top: 10px;
  left: 50px;
  max-width: 300px;
  z-index: 9999;
  padding: 0.625em;
  color: #8D5251;
  border: 1px solid #CFABAB;
  background-color: rgba(242, 206, 206, 0.8);
  border-radius: 4px;
}

/* line 167, ../sass/_map.sass */
.cluster-large {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: greenyellow;
  text-align: center;
  font-size: 24px;
}

/* line 175, ../sass/_map.sass */
.cluster-small {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #ffdb58;
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  box-sizing: border-box;
}

/* line 190, ../sass/_map.sass */
.progress-bar {
  background: rgba(85, 85, 85, 0.5);
  height: 1.5em;
  padding: 0 0.25em;
  position: relative;
  border-radius: 0.75em;
  cursor: default;
  pointer-events: none;
}
/* line 198, ../sass/_map.sass */
.progress-bar strong {
  position: absolute;
  top: 0;
  left: 1em;
  z-index: 2;
  color: #fff;
  font-size: 0.75em;
  line-height: 1.875;
  text-transform: uppercase;
  text-shadow: 0 0 0.25em #555555;
}
/* line 208, ../sass/_map.sass */
.progress-bar span {
  background: #00aaff;
  display: block;
  width: 0%;
  height: 1em;
  position: relative;
  z-index: 1;
  top: 0.25em;
  overflow: visible;
  border-radius: 0.5em;
  white-space: nowrap;
}

/* line 220, ../sass/_map.sass */
#map-progress {
  position: absolute;
  top: 10px;
  right: 50px;
  bottom: auto;
  left: 50px;
  z-index: 3;
  display: none;
  font-size: 1.25em;
}

/* line 6, ../sass/_content.sass */
#content {
  background: #fff;
  padding: 1em 1em 2em;
  position: relative;
  z-index: 10;
  box-shadow: 0 -0.325em 0 rgba(0, 0, 0, 0.1);
  display: none;
}

/* line 16, ../sass/_content.sass */
a.close-btn {
  background: #fff;
  color: #ff5e99;
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.125em;
  float: left;
  display: block;
  position: absolute;
  top: -1.325em;
  left: 0.5em;
  padding: 0.325em 0.625em;
  z-index: 2;
  box-shadow: 0 -0.325em 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.325em 0.325em 0 0;
}
/* line 32, ../sass/_content.sass */
a.close-btn:hover {
  color: #cd2c67;
}
/* line 34, ../sass/_content.sass */
a.close-btn span {
  font-size: 0.625em;
  text-transform: uppercase;
  margin-left: 0.625em;
  position: relative;
  top: -0.2em;
}

/* line 44, ../sass/_content.sass */
#content iframe, #content object, #content embed {
  overflow: hidden;
  display: block;
  width: 100% !important;
  /* height: auto !important */
}

/* line 52, ../sass/_content.sass */
.promotion {
  float: right;
  margin: 0 0 1em 0.5em;
}

/* line 56, ../sass/_content.sass */
.support {
  margin-bottom: 0.75em;
  position: relative;
}

/* line 60, ../sass/_content.sass */
.user-support {
  position: relative;
}
/* line 62, ../sass/_content.sass */
.user-support input[type=checkbox] {
  cursor: pointer;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  zoom: 1;
}
/* line 76, ../sass/_content.sass */
.user-support label {
  display: block;
  background: transparent url(images/heart-empty.png) left center no-repeat scroll;
  box-shadow: none;
  border-radius: 0;
  font-size: 1em;
  padding-left: 22px;
  color: #007fbf;
}
/* line 84, ../sass/_content.sass */
.user-support input[type=checkbox]:checked ~ label {
  background-image: url(images/heart.png);
}
/* line 86, ../sass/_content.sass */
.user-support:hover label {
  background-color: #93b7c9;
}

/* line 91, ../sass/_content.sass */
.social {
  min-width: 84px;
}

/* line 94, ../sass/_content.sass */
.sharing {
  margin: 0;
}

/* line 97, ../sass/_content.sass */
.share-link {
  float: right;
  padding: 0 !important;
  margin-left: 10px;
}
/* line 101, ../sass/_content.sass */
.share-link a {
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
}

/* line 108, ../sass/_content.sass */
.share-twitter a {
  background: url(images/twitter-32.png) 0 0 no-repeat scroll;
}

/* line 111, ../sass/_content.sass */
.share-facebook a {
  background: url(images/facebook-32.png) 0 0 no-repeat scroll;
}

/* line 116, ../sass/_content.sass */
.place-header {
  margin-bottom: 1em;
}
/* line 118, ../sass/_content.sass */
.place-header a {
  text-decoration: none;
}

/* line 121, ../sass/_content.sass */
.place-submission-details {
  display: block;
  padding-left: 3.75em;
}

/* line 125, ../sass/_content.sass */
.point-submitter .avatar {
  width: 3.25em;
  height: 3.25em;
  float: left;
  margin-left: -3.75em;
}

/* line 131, ../sass/_content.sass */
.response-date {
  display: block;
  text-transform: uppercase;
  color: #888;
  font-size: 0.75em;
}
/* line 136, ../sass/_content.sass */
.response-date a {
  color: #888;
}
/* line 138, ../sass/_content.sass */
.response-date a:hover {
  color: #00aaff;
}

/* line 141, ../sass/_content.sass */
.survey-count {
  font-size: 0.75em;
  text-transform: uppercase;
  display: block;
}

/* line 148, ../sass/_content.sass */
.survey {
  position: relative;
}

/* line 151, ../sass/_content.sass */
.survey-header {
  border-bottom: 1px solid #a8a8a8;
  padding-bottom: 0.75em;
  margin-bottom: 1em;
  font-size: 1.25em;
}

/* line 157, ../sass/_content.sass */
a.reply-link {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 165, ../sass/_content.sass */
.response {
  position: relative;
  padding-bottom: 2.625em;
  margin-bottom: 1em;
}

/* line 170, ../sass/_content.sass */
.response-header {
  padding-left: 3.75em;
  margin: 0 0 0 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 177, ../sass/_content.sass */
.response-submitter .avatar {
  width: 3em;
  height: 3em;
  float: left;
  margin-left: -3.75em;
}

/* line 185, ../sass/_content.sass */
.response-body {
  margin: 0 0 1em;
  padding: 1em;
  border-top: 1px solid #a8a8a8;
  border-right: 1px solid #c8c8c8;
  border-bottom: 0;
  border-left: 1px solid #c8c8c8;
  background: #eee;
  border-radius: 1em;
  position: relative;
}
/* line 195, ../sass/_content.sass */
.response-body:after {
  content: "";
  height: 0;
  width: 0;
  border: 1em solid transparent;
  border-top-color: #eee;
  position: absolute;
  top: 100%;
  left: 1.5em;
}

/* line 205, ../sass/_content.sass */
.response-label-comment {
  display: none;
}

/* line 208, ../sass/_content.sass */
.response-value-comment {
  margin-bottom: 0.5em;
}

/* line 211, ../sass/_content.sass */
article.response footer {
  text-align: right;
}

/* line 214, ../sass/_content.sass */
.survey-reply-link {
  color: #999;
  background: #eee;
  padding: 0.5em 0.75em;
  text-decoration: none;
  font-weight: bold;
}
/* line 220, ../sass/_content.sass */
.survey-reply-link:hover {
  background: #607890;
  color: #fff;
}

/* line 224, ../sass/_content.sass */
.submit-btn {
  float: left;
  margin: 0 0.75em 0 0;
}

/* line 228, ../sass/_content.sass */
form .signed-in-as {
  float: left;
  white-space: nowrap;
  padding-top: 0.125em;
  line-height: 1.5;
}
/* line 233, ../sass/_content.sass */
form .signed-in-as .avatar {
  height: 1.5em;
  width: auto;
  position: relative;
  top: 0.5em;
}
/* line 238, ../sass/_content.sass */
form .signed-in-as a {
  font-weight: bold;
  font-size: 0.875em;
  text-transform: uppercase;
}

/* line 243, ../sass/_content.sass */
.or-sign-in {
  display: block;
  margin-top: 0.5em;
}

/* line 247, ../sass/_content.sass */
a.auth-inline {
  display: inline;
  font-size: 0.875em;
  font-weight: bold;
  text-decoration: none;
  padding: 0.25em 0.5em;
}

/* place detail view story bar */
/* line 255, ../sass/_content.sass */
.place-story-bar {
  background-color: #a3c7d9;
  padding: 8px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: FontAwesome;
  overflow: hidden;
}
/* line 263, ../sass/_content.sass */
.place-story-bar .story-tagline {
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

/* line 6, ../sass/_sidebar.sass */
#side-bar {
  display: none;
  overflow: auto;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 11, ../sass/_sidebar.sass */
#side-bar p {
  color: #F25218;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.4em;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 19, ../sass/_sidebar.sass */
#side-bar hr {
  margin: 0.5em 0;
  border: none;
}

/* line 6, ../sass/_ticker.sass */
#ticker {
  background: url(images/lightpaperfibers.png);
  z-index: 30;
  display: none;
}
/* line 10, ../sass/_ticker.sass */
#ticker p {
  padding-left: 1em;
}

/* line 13, ../sass/_ticker.sass */
.activity-enabled #ticker {
  display: block;
}

/* line 22, ../sass/_ticker.sass */
ul.recent-points {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 28, ../sass/_ticker.sass */
.recent-points li {
  position: relative;
}
/* line 31, ../sass/_ticker.sass */
.recent-points a {
  text-decoration: none;
  float: left;
  border-top: 1px solid #888;
  border-bottom: 1px solid #666;
  padding: 0.5em 0.5em 0.5em 3em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 41, ../sass/_ticker.sass */
.recent-points li:first-child a {
  border-top: 0;
  padding-top: 0.75em;
}
/* line 48, ../sass/_ticker.sass */
.recent-points .avatar {
  width: 2em;
  height: 2em;
  float: left;
  margin-left: -2.5em;
}

/* line 6, ../sass/_legend.sass */
#master-legend {
  overflow: visible;
  padding-left: unset;
  padding-right: unset;
  padding-top: 10px;
}

/* line 16, ../sass/_legend.sass */
.layer-type-list {
  font-size: 1.4em;
  font-weight: normal;
  letter-spacing: 1px;
}

/* line 21, ../sass/_legend.sass */
.layer-type-grouping-list {
  margin-left: 10px;
}
/* line 23, ../sass/_legend.sass */
.layer-type-grouping-list label {
  font-size: 0.5em;
}

/* line 29, ../sass/_legend.sass */
.layer-type-list li {
  position: relative;
}
/* line 31, ../sass/_legend.sass */
.layer-type-list img {
  height: 1.75em;
  width: auto;
  vertical-align: middle;
}

/* line 36, ../sass/_legend.sass */
.layer-type-description {
  height: 0;
  overflow: visible;
  opacity: 0;
  position: absolute;
  z-index: 30;
  top: 100%;
  right: 1em;
  bottom: auto;
  left: 0.875em;
  margin: 0.25em 0 0 0;
  border-radius: 0 0.5em 0.5em 0.5em;
  background: #000;
  color: #fff;
  font-size: 0.875em;
  line-height: 1.25;
  box-shadow: -0.25em 0 1em rgba(255, 255, 255, 0.8);
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  pointer-events: none;
}
/* line 37, ../sass/_legend.sass */
.layer-type-description img {
  height: auto;
  width: auto;
}

/* line 61, ../sass/_legend.sass */
.layer-type-li:hover .layer-type-description {
  height: auto;
  padding: 0.375em 0.625em;
  opacity: 1;
  overflow: visible;
}
/* line 66, ../sass/_legend.sass */
.layer-type-li:hover .layer-type-description:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-bottom-color: #000;
  border-left-color: #000;
}

/* line 79, ../sass/_legend.sass */
#master-legend .layer-type-list {
  font-size: 0.875em;
}
/* line 81, ../sass/_legend.sass */
#master-legend .layer-type-title label {
  vertical-align: middle;
  margin-right: 8px;
  font-size: 1.33em;
  letter-spacing: 1px;
}

/* line 87, ../sass/_legend.sass */
.layer-type-title input {
  vertical-align: middle;
  margin-right: 8px;
  font-size: 1.33em;
  letter-spacing: 1px;
}

/* line 94, ../sass/_legend.sass */
#master-legend .shareabouts-layer-li {
  font-size: 1.3em;
  letter-spacing: 1.4px;
}
/* line 97, ../sass/_legend.sass */
#master-legend .layer-type-title:active label:hover, #master-legend .shareabouts-layer-li:active a {
  color: #00aaff;
}
/* line 99, ../sass/_legend.sass */
#master-legend .map-layer-list {
  margin-bottom: 0.5em;
  font-size: 0.75em;
}
/* line 102, ../sass/_legend.sass */
#master-legend .layer-type-li label, #master-legend .shareabouts-layer-li a {
  cursor: pointer;
  position: relative;
  z-index: 20;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}
/* line 110, ../sass/_legend.sass */
#master-legend .shareabouts-layer-title {
  font-size: 1.4em;
  cursor: pointer;
  width: 1em;
  height: auto;
  z-index: 20;
  text-transform: none;
  vertical-align: top;
  margin-right: 8px;
}

@media screen and (min-width: 40.063em) {
  /* line 150, ../sass/_legend.sass */
  .active #master-legend {
    height: 100%;
    width: 16em;
    top: 0;
    right: 0;
    overflow: auto;
  }
}
/* line 164, ../sass/_legend.sass */
.master-layer-list {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0.5;
  margin-bottom: 0;
}

/* All layers in the Master Legend list */
/* line 171, ../sass/_legend.sass */
.master-layer-list .unstyled-list {
  overflow: visible;
  padding-left: unset;
  padding-right: unset;
  padding-top: 10px;
}

/* line 6, ../sass/_listview.sass */
.list-toggle-nav {
  display: none;
}

/* line 9, ../sass/_listview.sass */
#list-container {
  display: none;
  background: #fff;
  position: absolute;
  padding: 1.75em 1em;
  top: 4em;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 39;
  overflow: auto;
}

/* line 22, ../sass/_listview.sass */
.place-list, .place-list-header {
  max-width: 70em;
  margin: 0 auto;
}

/* line 28, ../sass/_listview.sass */
.list-search-form input {
  max-width: 25em;
  float: left;
  padding: 0.5em;
  margin-right: 0.5em;
}

/* line 36, ../sass/_listview.sass */
.list-sort-menu {
  float: right;
  padding: 1em 0 0;
  color: #eee;
  text-transform: uppercase;
}

/* line 42, ../sass/_listview.sass */
.list-sort-prompt {
  font-size: 0.75em;
  color: #999;
}

/* line 46, ../sass/_listview.sass */
.list-sort-menu a {
  font-weight: bold;
  font-size: 0.75em;
  text-decoration: none;
}
/* line 50, ../sass/_listview.sass */
.list-sort-menu a.is-selected {
  color: #555;
}

/* line 55, ../sass/_listview.sass */
.place-list {
  clear: both;
  padding: 1.25em 0 0;
}
/* line 58, ../sass/_listview.sass */
.place-list > li {
  margin: 0;
  padding: 0.75em 0 1.25em 0;
  border-top: 1px solid #eeeeee;
}
/* line 62, ../sass/_listview.sass */
.place-list .place-header {
  font-size: 0.875em;
}
/* line 64, ../sass/_listview.sass */
.place-list .place-header:before {
  display: none;
}
/* line 66, ../sass/_listview.sass */
.place-list .place-header:after {
  display: none;
  clear: none;
}
/* line 69, ../sass/_listview.sass */
.place-list .place-header h1 {
  font-size: 1.5em;
}
/* line 71, ../sass/_listview.sass */
.place-list .place-submission-details {
  float: left;
  width: 17.25em;
  margin-top: 0.5em;
  padding-left: 3em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 79, ../sass/_listview.sass */
.place-list .point-submitter .avatar {
  width: 2.5em;
  height: 2.5em;
  float: left;
  margin-left: -3em;
}
/* line 84, ../sass/_listview.sass */
.place-list .place-items {
  margin-right: 5em;
  margin-left: 16em;
}
/* line 87, ../sass/_listview.sass */
.place-list .place-item-attachment {
  float: left;
  max-width: 9em;
  margin: 0 1em 0.75em 0;
}
/* line 92, ../sass/_listview.sass */
.place-list .place-label:empty, .place-list .place-value:empty {
  display: none;
}

/* line 95, ../sass/_listview.sass */
.place-item-attachment .place-value:empty {
  display: block;
}

/* line 98, ../sass/_listview.sass */
.view-on-map-btn {
  margin: 1em 0;
  float: left;
}

/* line 6, ../sass/_counter.sass */
#place-counter .counter-meter {
  width: auto;
  margin: 0 auto;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.5em 0.75em;
  text-align: center;
  vertical-align: middle;
  color: #1a8504;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #a3c7d9;
  box-shadow: -0.25em 0.25em 0 rgba(0, 0, 0, 0.1);
  font-weight: 600;
  border: 3px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

/* line 24, ../sass/_counter.sass */
.col {
  margin: 0 10px;
  float: left;
  display: inline;
  overflow: hidden;
}

/* line 30, ../sass/_counter.sass */
.meter-label {
  width: auto;
}

/* line 33, ../sass/_counter.sass */
.meter-bar meter {
  width: 260px;
  height: 10px;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.1em 0.1em;
}

/* line 6, ../sass/_geocode.sass */
#geocode-address-bar {
  display: none;
  background: url(images/lightpaperfibers.png);
  position: relative;
  z-index: 40;
  padding: 0.75em 0.5em 0.5em;
  margin-top: -0.5em;
  box-shadow: 0 0.325em 0 rgba(0, 0, 0, 0.1);
  font-size: 1em;
}

/* line 16, ../sass/_geocode.sass */
.geocoding-enabled #geocode-address-bar {
  display: block;
}

/* line 19, ../sass/_geocode.sass */
#geocode-address-bar .error {
  background-color: #BF6083;
  color: #fff;
  line-height: 1.75;
  margin: 0;
  padding: 0.25em 0.5em;
  box-shadow: 2px 2px 0 #BF6083, 2px -2px 0 #BF6083, -2px 2px 0 #BF6083, -2px -2px 0 #BF6083;
  position: absolute;
  top: 3em;
  right: 0.5em;
  bottom: auto;
  left: 0.5em;
}
/* line 31, ../sass/_geocode.sass */
#geocode-address-bar .error + form {
  box-shadow: 2px 2px 0 #BF6083, 2px -2px 0 #BF6083, -2px 2px 0 #BF6083, -2px -2px 0 #BF6083;
  margin-bottom: 2.5em;
}
/* line 34, ../sass/_geocode.sass */
#geocode-address-bar .error.is-hidden + form {
  box-shadow: none;
  margin-bottom: 0;
}

/* line 40, ../sass/_geocode.sass */
#geocode-address-place-bar {
  display: none;
  position: relative;
}

/* line 44, ../sass/_geocode.sass */
.geocoding-enabled #geocode-address-place-bar {
  display: block;
}

/* line 47, ../sass/_geocode.sass */
#geocode-address-place-bar .error {
  background-color: #BF6083;
  color: #fff;
  line-height: 1.75;
  margin: 0;
  padding: 0.25em 0.5em;
  box-shadow: 2px 2px 0 #BF6083, 2px -2px 0 #BF6083, -2px 2px 0 #BF6083, -2px -2px 0 #BF6083;
  position: absolute;
  top: 3em;
  right: 0.5em;
  bottom: auto;
  left: 0.5em;
}
/* line 59, ../sass/_geocode.sass */
#geocode-address-place-bar .error + form {
  box-shadow: 2px 2px 0 #BF6083, 2px -2px 0 #BF6083, -2px 2px 0 #BF6083, -2px -2px 0 #BF6083;
  margin-bottom: 2.5em;
}
/* line 62, ../sass/_geocode.sass */
#geocode-address-place-bar .error.is-hidden + form {
  box-shadow: none;
  margin-bottom: 0;
}

/* line 68, ../sass/_geocode.sass */
.geocode-address-form {
  position: relative;
}

/* line 71, ../sass/_geocode.sass */
input.geocode-address-field {
  width: 100%;
  line-height: 1.25;
  padding-left: 2.125em;
}
/* line 75, ../sass/_geocode.sass */
input.geocode-address-field:focus {
  outline: 0;
}

/* line 78, ../sass/_geocode.sass */
.geocode-address-label {
  position: absolute;
  top: 1.5em;
  left: 1em;
  height: 1.25em;
  width: 1.25em;
  margin-top: -0.625em;
  overflow: visible;
  text-indent: -9999px;
  cursor: pointer;
}
/* line 88, ../sass/_geocode.sass */
.geocode-address-label:before, .geocode-address-label:after {
  content: "";
  display: block;
  position: absolute;
}
/* line 92, ../sass/_geocode.sass */
.geocode-address-label:before {
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  border: 0.2em solid #a3c7d9;
  border-radius: 2em;
  margin: -0.25em 0 0 -0.25em;
}
/* line 100, ../sass/_geocode.sass */
.geocode-address-label:after {
  top: 50%;
  left: 50%;
  height: 0.75em;
  width: 0.25em;
  margin: 0.125em 0 0 0.375em;
  background-color: #a3c7d9;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 113, ../sass/_geocode.sass */
.geocode-spinner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2em;
  background-color: #a3c7d9;
}

/* line 6, ../sass/_footer.sass */
#colophon {
  padding: 1em 0.5em;
  text-align: center;
}
/* line 9, ../sass/_footer.sass */
#colophon a {
  text-decoration: none;
}
/* line 12, ../sass/_footer.sass */
#colophon a:hover {
  border-bottom: 1px solid #ffb885;
}

/* line 17, ../sass/_footer.sass */
#powered-by {
  font-size: 0.75em;
  display: inline;
}

/* line 21, ../sass/_footer.sass */
a.shareabouts-logo {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 1.325em;
  color: #FF8B61;
}

/* line 28, ../sass/_footer.sass */
#powered-by a.openplans-logo {
  color: #FF8B61;
  font-weight: bold;
}

/* line 35, ../sass/_footer.sass */
#mapquest-attribution {
  font-size: 0.75em;
  display: inline;
}
/* line 38, ../sass/_footer.sass */
#mapquest-attribution img {
  max-height: 0.75em;
  width: auto;
}

/* line 47, ../sass/_footer.sass */
.unsupported-overlay {
  position: relative;
  z-index: 999999;
  color: #eee;
  font-weight: bold;
}

/* line 53, ../sass/_footer.sass */
.unsupported-message {
  background-color: #cd2c67;
  padding: 1em 1em 2em;
  box-shadow: 0 0.325em 0 rgba(0, 0, 0, 0.1), inset 0 0.325em 0 rgba(0, 0, 0, 0.1);
}
/* line 57, ../sass/_footer.sass */
.unsupported-message p {
  font-size: 1.25em;
  margin-bottom: 0.75em;
}
/* line 60, ../sass/_footer.sass */
.unsupported-message a {
  color: #fff;
}

/* line 63, ../sass/_footer.sass */
a.close-unsupported-overlay {
  color: #ff5e99;
  font-size: 1em;
  float: none;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 0.325em;
  text-align: center;
  text-transform: uppercase;
  box-shadow: -0.325em 0.325em 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (min-height: 440px) and (max-width: 60em) {
  /* line 12, ../sass/_media.sass */
  #map {
    height: 100%;
  }

  /* line 15, ../sass/_media.sass */
  #site-title a:link, #site-title a:visited {
    font-size: 1.8em;
    line-height: 1.325;
  }

  /* line 18, ../sass/_media.sass */
  #ticker ul.recent-points {
    height: 30em;
    overflow: scroll;
  }
}
@media only screen and (max-width: 60em) {
  /* line 58, ../sass/_media.sass */
  html, body, #map {
    height: 100%;
  }

  /* line 60, ../sass/_media.sass */
  #main {
    height: calc(100% - 64px);
  }

  /* line 63, ../sass/_media.sass */
  #map-container {
    height: calc(100% - 72px);
  }

  /* line 66, ../sass/_media.sass */
  .activity-enabled.content-visible #map-container {
    height: 70%;
  }
}
@media only screen and (min-width: 60em) {
  /* line 72, ../sass/_media.sass */
  body:after {
    content: "desktop";
  }

  /* line 75, ../sass/_media.sass */
  #site-header {
    background: url(images/lightpaperfibers.png);
    padding-left: 1em;
    overflow: visible;
    height: 4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 84, ../sass/_media.sass */
  .has-pages #site-title {
    padding-left: 0;
  }

  /* line 87, ../sass/_media.sass */
  #site-title a:link, #site-title a:visited {
    font-size: 3em;
    line-height: 1.325;
  }

  /* line 90, ../sass/_media.sass */
  #nav-btn {
    display: none;
  }

  /* line 94, ../sass/_media.sass */
  #pages-nav-container {
    height: 100%;
    float: left;
  }

  /* line 97, ../sass/_media.sass */
  #language-picker {
    float: right;
    height: 100%;
  }

  /* line 101, ../sass/_media.sass */
  .current-language {
    background: none;
    border: none;
    box-shadow: none;
  }

  /* line 105, ../sass/_media.sass */
  .access {
    font-size: 0.875em;
    width: auto;
    display: block;
    margin: -1.125em 0 0 0.5em;
    position: relative;
    top: 50%;
  }
  /* line 112, ../sass/_media.sass */
  .access li {
    float: left;
    padding: 0;
    margin: 0 0 0 0.5em;
  }
  /* line 116, ../sass/_media.sass */
  .access li ul {
    display: none;
  }
  /* line 119, ../sass/_media.sass */
  .access li:hover > ul, .access li:hover > form > ul {
    display: block;
    background: #ccc;
    box-shadow: -0.25em 0.25em 0 rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(0, 0, 0, 0.05);
    border-radius: 0;
    margin: -3px 0 0 0;
    padding: 3px 0 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    overflow: hidden;
  }
  /* line 132, ../sass/_media.sass */
  .access li ul li:hover ul {
    display: block;
    top: 0;
    left: 100%;
  }
  /* line 136, ../sass/_media.sass */
  .access li li {
    float: none;
    padding: 0;
    margin: 0;
  }
  /* line 140, ../sass/_media.sass */
  .access li li .btn {
    border: 0;
    border-radius: 0;
    margin-top: -3px;
    box-shadow: none;
  }

  /* line 145, ../sass/_media.sass */
  #sign-in-btn {
    font-size: 1em;
    text-decoration: none;
    line-height: 1.5;
    padding: 0.5em;
    margin: 0.25em 0.75em 0 0.75em;
    position: relative;
    z-index: 3;
  }

  /* line 153, ../sass/_media.sass */
  .sign-in-menu {
    background: url(images/lightpaperfibers.png);
    border-radius: 3px;
    box-shadow: -0.25em 0.25em 0 rgba(0, 0, 0, 0.2);
    width: 18em;
    margin: 0;
    padding: 1em 0.875em 1.125em 0.875em;
    position: absolute;
    top: 4.125em;
    right: 1em;
    z-index: 2;
  }
  /* line 164, ../sass/_media.sass */
  .sign-in-menu:before {
    content: "";
    height: 0;
    width: 0;
    border: 1em solid transparent;
    border-bottom-color: #666;
    border-top: 0;
    position: absolute;
    bottom: 100%;
    right: 1.5em;
  }

  /* line 175, ../sass/_media.sass */
  .authed #sign-in-btn {
    margin: 0.5em 0.5em 0 0.5em;
    z-index: 1;
  }
  /* line 178, ../sass/_media.sass */
  .authed .sign-in-menu:before {
    right: 0.5em;
  }

  /* line 181, ../sass/_media.sass */
  #map-container {
    position: absolute;
    top: 4em;
    right: 0;
    bottom: 0;
    left: 0;
  }

  /* line 188, ../sass/_media.sass */
  .content-visible #map-container {
    right: auto;
    left: 18em;
    margin-left: -18em;
    width: 40%;
  }

  /* line 193, ../sass/_media.sass */
  .activity-enabled.content-visible #map-container {
    width: 60%;
  }

  /* line 195, ../sass/_media.sass */
  .geocoding-bar-enabled #map-container {
    top: 8.5em;
  }

  /* line 197, ../sass/_media.sass */
  .leaflet-top.leaflet-right {
    right: auto;
    left: 10px;
    top: 77px;
  }

  /* line 201, ../sass/_media.sass */
  #map {
    height: 100%;
  }

  /* line 203, ../sass/_media.sass */
  #add-place-btn-container {
    position: absolute;
    background: transparent;
    font-size: 1.25em;
    padding: 0;
    box-shadow: none;
    border-bottom: 0;
  }
  /* line 205, ../sass/_media.sass */
  #add-place-btn-container.pos-top-left {
    top: 1.5em;
    left: 3.5em;
  }
  /* line 208, ../sass/_media.sass */
  #add-place-btn-container.pos-top-right {
    top: 1.5em;
    right: 1.5em;
  }
  /* line 211, ../sass/_media.sass */
  #add-place-btn-container.pos-bot-left {
    bottom: 2em;
    left: 2em;
  }
  /* line 219, ../sass/_media.sass */
  #add-place-btn-container .btn {
    padding-right: 1em;
    padding-left: 1em;
  }
  /* line 222, ../sass/_media.sass */
  #add-place-btn-container .btn:visited, #add-place-btn-container .btn:link {
    padding-right: 1em;
    padding-left: 1em;
  }
  /* line 225, ../sass/_media.sass */
  #add-place-btn-container .btn-primary:hover {
    background-color: #FF8B61;
  }

  /* line 227, ../sass/_media.sass */
  .content-visible #add-place-btn-container {
    display: block;
  }

  /* line 230, ../sass/_media.sass */
  .place-form-visible #add-place-btn-container {
    display: none;
  }

  /* line 233, ../sass/_media.sass */
  #content {
    color: #36454f;
    padding: 0;
    position: absolute;
    top: 4em;
    right: 0;
    bottom: 1.75em;
    overflow: visible;
    box-shadow: -0.325em 0 0 rgba(0, 0, 0, 0.1);
    width: 40%;
  }

  /* line 245, ../sass/_media.sass */
  .activity-enabled #content {
    left: 60%;
    width: 40%;
  }

  /* line 248, ../sass/_media.sass */
  .content-visible #map-container {
    width: 60%;
  }

  /* line 250, ../sass/_media.sass */
  .activity-enabled.content-visible #map-container {
    width: 60%;
  }

  /* line 252, ../sass/_media.sass */
  .geocoding-bar-enabled #content {
    top: 8.5em;
  }

  /* line 254, ../sass/_media.sass */
  a.close-btn {
    line-height: 2;
    top: 10px;
    left: auto;
    right: 100%;
    margin: 0 -0.325em 0 0;
    padding: 0.125em 0.625em 0.125em 0.625em;
    border-radius: 0.325em 0 0 0.325em;
    box-shadow: -0.325em 0.325em 0 rgba(0, 0, 0, 0.1);
  }
  /* line 264, ../sass/_media.sass */
  a.close-btn span {
    display: none;
  }

  /* line 266, ../sass/_media.sass */
  .unsupported-overlay {
    position: absolute;
    top: 5em;
    right: 1em;
    left: 1em;
  }

  /* line 271, ../sass/_media.sass */
  .unsupported-message {
    border-radius: 0 0 0.625em 0.625em;
  }

  /* line 273, ../sass/_media.sass */
  a.close-unsupported-overlay {
    right: auto;
    border-radius: 0.325em;
  }

  /* line 276, ../sass/_media.sass */
  #content > article {
    overflow: auto;
    padding: 1em 1em 2em;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 285, ../sass/_media.sass */
  #geocode-address-bar {
    position: absolute;
    top: 4em;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 39;
    border-right: 1px solid #666;
    margin-top: 0;
  }

  /* line 295, ../sass/_media.sass */
  .activity-enabled #geocode-address-bar {
    right: 18em;
  }

  /* line 299, ../sass/_media.sass */
  #geocode-address-bar .error {
    padding: 0.25em 0.5em;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    float: right;
    width: 15em;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 312, ../sass/_media.sass */
  #geocode-address-bar .error + form {
    margin-bottom: 0;
    margin-right: 15em;
  }
  /* line 315, ../sass/_media.sass */
  #geocode-address-bar .error.is-hidden + form {
    margin-right: 0;
  }

  /* line 318, ../sass/_media.sass */
  #side-bar {
    position: absolute;
    top: 4em;
    right: 0;
    bottom: 0;
    left: auto;
    width: 18em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 15;
    box-shadow: -0.325em 0 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
  }

  /* line 332, ../sass/_media.sass */
  .activity-enabled.content-visible #side-bar {
    display: block;
  }
  /* line 334, ../sass/_media.sass */
  .activity-enabled #map-container {
    right: 0;
  }

  /* line 338, ../sass/_media.sass */
  #ticker {
    right: 0;
    bottom: 0;
    left: auto;
    overflow: auto;
    z-index: 15;
    background: none;
  }

  /* line 345, ../sass/_media.sass */
  .activity-enabled.content-visible #ticker {
    display: block;
  }

  /* line 347, ../sass/_media.sass */
  ul.recent-points {
    font-size: 0.875em;
    -webkit-transform: translateZ(0px);
  }

  /* line 351, ../sass/_media.sass */
  .activity-enabled #map-container {
    right: 0;
  }

  /* line 355, ../sass/_media.sass */
  #master-legend {
    z-index: 15;
  }

  /* line 358, ../sass/_media.sass */
  .activity-enabled.content-visible #master-legend {
    display: block;
  }
  /* line 360, ../sass/_media.sass */
  .activity-enabled #map-container {
    right: 0;
  }

  /* line 364, ../sass/_media.sass */
  .list-toggle-nav {
    display: block;
    width: auto;
    position: relative;
    top: 50%;
    font-size: 0.875em;
    margin: -1.325em 0 0 1em;
    float: left;
  }

  /* line 374, ../sass/_media.sass */
  #list-container.is-exposed {
    display: block;
  }

  /* line 386, ../sass/_media.sass */
  #colophon {
    color: #007fbf;
    background: url(images/lightpaperfibers.png);
    font-size: 1em;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 14;
    padding: 0.25em;
    box-shadow: 0 -0.125em rgba(0, 0, 0, 0.1);
    height: 1.75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 405, ../sass/_media.sass */
  #powered-by {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 80em) {
  /* line 409, ../sass/_media.sass */
  #content {
    right: 0;
    left: 60%;
  }

  /* line 412, ../sass/_media.sass */
  .activity-enabled #content {
    left: 60%;
    width: 40%;
  }

  /* line 415, ../sass/_media.sass */
  .content-visible #map-container {
    width: 60%;
  }

  /* line 417, ../sass/_media.sass */
  .activity-enabled.content-visible #map-container {
    width: 60%;
  }
}
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 422, ../sass/_media.sass */
  .share-twitter a {
    background-image: url(images/twitter-64.png);
    background-size: contain;
  }

  /* line 425, ../sass/_media.sass */
  .share-facebook a {
    background-image: url(images/facebook-64.png);
    background-size: contain;
  }

  /* line 428, ../sass/_media.sass */
  .locate-me {
    background-image: url(images/locate-me@2x.png);
    background-size: contain;
  }
}
