/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

.soundkeeper-landmark-title {
	text-align: center;
	line-height: 1.1em;
}

.rose-grants-img, .settled-cases-img {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

/* =Header
-------------------------------------------------------------- */

/* =Media Queries
-------------------------------------------------------------- */
