// These styles are intended to override certain defaults supplied by
// normalize.css, in order to mimic the styling of our Atoms on custom pages.
#mapseed-custom-page-container {
  h1 {
    font-size: 2rem !important;
    margin: 0 0 16px 0 !important;
  }
  h2 {
    font-size: 1.8rem !important;
    margin: 0 0 16px 0 !important;
  }
  h3 {
    font-size: 1.5rem !important;
    margin: 0 0 16px 0 !important;
  }
  h4 {
    font-size: 1.1rem !important;
    margin: 0 0 16px 0 !important;
  }
  h5 {
    font-size: 1rem !important;
    margin: 0 0 16px 0 !important;
  }
  h6 {
    font-size: 1rem !important;
    margin: 0 0 16px 0 !important;
  }
  img {
    width: 100%;
    max-width: 100%;
    margin: 0 0 10px 0;
  }
}

p {
  margin: 0 0 16px 0;
}

.rich-textarea-field-response {
  img {
    width: 100%;
    max-width: 100%;
  }
}

a {
  text-decoration: none;
}
