.basic-button {
  width: $basic-button-background-width;
  background-color: $basic-button-background-color;
  border: $basic-button-border;
  border-radius: $basic-button-border-radius;
  text-align: $basic-button-text-align;
  text-transform: $basic-button-text-transform;
  padding-left: $basic-button-padding-left;
  padding-right: $basic-button-padding-right;
  padding-top: $basic-button-padding-top;
  padding-bottom: $basic-button-padding-bottom;

  &:hover {
    background-color: $basic-button-hover-background-color;
    cursor: $basic-button-hover-cursor;
  }
}