.label-with-inline-image {
  display: flex;
  align-items: center;
  text-transform: $label-inline-image-text-transform;
  font-size: $label-inline-image-font-size;
  margin: $label-inline-image-img-margin;

  &:hover {
    cursor: $label-inline-image-hover-cursor;
  }
}

.label-with-inline-image__label-container {
  padding: $label-inline-image-label-padding;
}

.label-with-inline-image__image-container {
  img {
    width: $label-inline-image-img-width;
    padding: $label-inline-image-img-padding;
  }
}

.label-with-inline-image__image-container.label-with-inline-image__image-container--right {
  order: 1;
}
