.primary-button {
	padding: $primary-button-padding;
	background-color: $primary-button-background-color;
	border: $primary-button-border;
	color: $primary-button-text-color;
	box-shadow: $primary-button-box-shadow;
	border-radius: $primary-button-border-radius;
	text-transform: $primary-button-text-transform;
	font-size: $primary-button-font-size;
		
	&:hover {
		background-color: $primary-button-background-hover-color;
		cursor: $primary-button-hover-cursor;
	}
}
