@import "variables";

.social-share-button {
  float: right;
  border-radius: 5px;
  margin-right: 5px;
  border: none;
  background-position: center;
  width: $social-share-button-width;
  height: $social-share-button-height;
}

.social-share-button--twitter {
  background-image: $social-share-button-twitter-image;
}

.social-share-button--facebook {
  background-image: $social-share-button-facebook-image;
}
