@import "variables";

.warning-messages-container {
  display: none;
  background-color: $input-form-validation-errors-background-color;
  padding: $input-form-validation-errors-padding;
  margin: $input-form-validation-errors-margin;
  border: $input-form-validation-errors-border;
  border-radius: $input-form-validation-errors-border-radius;
}

.warning-messages-container--visible {
  display: block;
}

.warning-messages-container__header {
  margin: $input-form-validation-errors-header-margin;
  color: $input-form-validation-errors-header-text-color;
  font-weight: $input-form-validation-errors-header-font-weight;
}

.warning-messages-container__warning-msg {
  margin: $input-form-validation-errors-error-msg-margin;
  padding: $input-form-validation-errors-error-msg-padding;
  text-indent: $input-form-validation-errors-error-msg-text-indent;
  color: $input-form-validation-errors-error-msg-text-color;
  font-style: $input-form-validation-errors-error-msg-text-style;

  &:before {
    font-family: FontAwesome;
    font-style: normal;
    content: $input-form-validation-errors-error-msg-icon;
    padding-right: 5px;
  }
}
