.form-stage-control-bar {
  padding: 20px 10px 20px 10px;
  background: url("data:image/bmp;base64,Qk1IAAAAAAAAADYAAAAoAAAAAgAAAAIAAAABABgAAAAAABIAAAASCwAAEgsAAAAAAAAAAAAA/v7+//7+AIDayKT//v4AAAAA")
    repeat;
  margin-top: 30px;
}

.form-stage-control-bar__controls-container {
  display: flex;
  align-items: center;
}

.form-stage-control-bar__stage-counter {
  font-weight: 800;
}

.form-stage-control-bar__progress-bar {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 5px 0 5px;
  background-color: #999;
  height: 20px;
  border-radius: 10px;
}

.form-stage-control-bar__progress-bar-inner {
  height: 10px;
  border-radius: 5px;
  background-color: #0af;
}

.form-stage-control-bar__advance-stage-btn,
.form-stage-control-bar__retreat-stage-btn {
  float: right;
  background: none;
  outline: none;
  border: none;
  background-color: #007fbf;
  text-transform: uppercase;
  color: #fff;
  padding: 0.5em;
  margin-left: 10px;

  &:hover {
    color: #a3c7d9;
  }
}

.form-stage-control-bar__advance-stage-btn--disabled,
.form-stage-control-bar__retreat-stage-btn--disabled {
  background-color: #aaa;
  color: #ddd;

  &:hover {
    color: #ddd;
  }
}
