.form-stage-header-bar {
  padding-left: 3em;
  border-bottom: 1px solid #bbb;
  margin-bottom: 20px;
}

.form-stage-header-bar__header {
  text-transform: uppercase;
}

.form-stage-header-bar__icon {
  float: left;
  width: 1.4em;
  margin-left: -1.8em;
  margin-right: 0.4em;
}
