@import "variables";
@import "spinner";

.input-form__submit-spinner {
  position: absolute;
  left: 50%;
  bottom: 50%;
}

.input-form__submit-spinner {
  display: none;
}

.input-form__submit-spinner--visible {
  display: block;
}

.input-form__form--visible {
  display: block;
}

.input-form__form--hidden {
  display: none;
}

.input-form__form {
  opacity: 1;
}

.input-form__form--inactive {
  opacity: 0.3;
}

.input-form__warning-msgs-container {
  display: none;
  background-color: $input-form-validation-errors-background-color;
  padding: $input-form-validation-errors-padding;
  margin: $input-form-validation-errors-margin;
  border: $input-form-validation-errors-border;
  border-radius: $input-form-validation-errors-border-radius;
}

.input-form__warning-msgs-container--visible {
  display: block;
}

.input-form__warning-msgs-header {
  margin: $input-form-validation-errors-header-margin;
  color: $input-form-validation-errors-header-text-color;
  font-weight: $input-form-validation-errors-header-font-weight;
}

