@import "variables";

.input-form-category-button {
  display: flex;
  margin: $input-form-category-button-margin;
  background-color: $input-form-category-button-background-color;
  padding: 0;
  position: relative;
  // TODO: For the collapse animation to work, we seem to need a hard-coded height
  // here. It would be better if we didn't, but not sure if it's possible.
  height: $input-form-category-button-height;
  transition: all $input-form-category-button-collapse-animation-duration;
  transition-timing-function: ease;
}

.input-form-category-button--hidden {
  height: 0;
  margin: 0;
  overflow: hidden;
  border: none;
  transition: all $input-form-category-button-collapse-animation-duration;
  transition-timing-function: ease;
}

.input-form-category-button__image {
  width: $input-form-category-button-image-width;
  margin: $input-form-category-button-image-margin;
  padding: $input-form-category-button-image-padding;
}
