@import "variables";

.range-slider-with-label {
  padding: 5px;
}

.range-slider-with-label--has-autofill--colored {
  background-color: $range-slider-autofill-background-color;
}

.range-slider-with-label--has-autofill--hidden {
  display: none;
}

.range-slider-with-label__input {
  margin-right: 10px;
  -webkit-appearance: none;
  outline: none;
  background-color: $range-slider-background-color;
  width: $range-slider-width;
  height: $range-slider-height;
  vertical-align: middle;
}
