{% extends 'base.html' %}
{% load i18n %}

{% block site-title %}
<a href="/">
  <img id="site-title-image" src="{{STATIC_URL}}css/images/site-title_hey-duwamish.png" alt="{{ config.app.name }}"></img>
</a>
{% endblock %}

{% block meta %}
  <!-- NOTE: social meta tag content gets populated client-side. -->
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:widgets:csp" content="on">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image:src" content="">
  <meta name="twitter:creator" content="">

  <!-- Facebook -->
  <meta property="og:site_name" content="" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta name="og:image" content="">
{% endblock %}

<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{% block colophon %}
<p id="powered-by">{% blocktrans %}Powered by{% endblocktrans %} <a href="//shareabouts.org/" class="shareabouts-logo" target="_blank">Shareabouts</a>, <span class="nobreak">a project of <a href="//openplans.org/" class="openplans-logo" target="_blank">OpenPlans</a></span></p>
{% endblock %}

<!--
  Analytics, custom JS, and such go here
 -->

{% block includes %}
<!--<script src="{{STATIC_URL}}js/views/commitment-view.js"></script>-->
<script>
  (function(S) {
// ========================================
// == For Filtering
    $(document).on('click', '.activity-item a', function(evt) {
      window.app.appView.mapView.clearFilter();
    })
  }(Shareabouts));
</script>
{% endblock %}
