{% extends 'base.html' %}
{% load i18n %}

{% block site-title %}
<a href="{{ config.app.link }}"><img src="/static/css/images/12000_logo_wide.png"></a>
{% endblock %}

<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{#{% block colophon %}#}
{#<p id="powered-by">{% blocktrans %}Powered by{% endblocktrans %} <a href="//shareabouts.org/" class="shareabouts-logo" target="_blank">Shareabouts</a>, <span class="nobreak">a project of <a href="//openplans.org/" class="openplans-logo" target="_blank">OpenPlans</a></span></p>#}
{#{% endblock %}#}

<!--
  Analytics, custom JS, and such go here
 -->

{% block includes %}
  <script src="{{STATIC_URL}}js/raingardens-handlebars-helpers.js"></script>
<script>
  (function(S) {
// ========================================
// == For Filtering
    $(document).on('click', '.activity-item a', function(evt) {
      window.app.appView.mapView.clearFilter();
    })
  }(Shareabouts));
</script>

<!-- Facebook widgets -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : {{ config.app.facebook_app_id }},
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}
