{{#extends "../../../base/templates/base"}}

{{#block "site-title"}}
<a href="{{ config.app.link }}"><img src="/static/css/images/12000_logo_wide.png"></a>
{{/block}}

<!--
  This will place content in the colophon below the map
 -->
{{#block "colophon"}}
<p id="powered-by">{{#_}}Powered by{{/_}} <a href="//shareabouts.org/" class="shareabouts-logo" target="_blank">Shareabouts</a>, <span class="nobreak">a project of <a href="//openplans.org/" class="openplans-logo" target="_blank">OpenPlans</a></span></p>
{{/block}}

<!--
  Analytics, custom JS, and such go here
 -->

{{#block "includes"}}
  <script src="{{STATIC_URL}}js/raingardens-handlebars-helpers.js"></script>
<script>
  (function(S) {
// ========================================
// == For Filtering
    $(document).on('click', '.activity-item a', function(evt) {
      window.app.appView.mapView.clearFilter();
    })
  }(Shareabouts));
</script>
{{/block}}

{{/extends}}