/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

body {
  font-family: Raleway, sans-serif !important;
}

/* =Input Form
-------------------------------------------------------------- */
/* 
 * TODO: All these custom selectors should be ported to styled components.
 */

.input-form__field-prompt-container [class*=FormField] {
  font-size: 1.15rem;
}

[class*="FormField"] {
  padding: 16px !important;
  border-radius: 0 !important;
}

[class*="RegularText-FormField"] {
  padding: 0 !important;
}

[data-field-type="datetime"],
[data-field-type="number"],
[data-field-name="my_image"],
[data-field-type="big_toggle"],
[data-field-type="big_radio"] {
  background-color: #efefef !important;
  box-shadow: 0 2px 3px #aaa, 0 5px 5px #eee !important;
  border-radius: 4px;
  margin-bottom: 0 !important;
}

[data-field-name="my_image"],
[data-field-type="big_toggle"],
[data-field-type="big_radio"] {
  margin-top: 15px !important;
  margin-bottom: 0 !important;
}

[data-field-type="geocoding"],
[data-field-type="text"],
[data-field-type="textarea"],
[data-field-name="drag_map_info"],
[data-field-type="geolocate"] {
  background-color: #efefef !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  box-shadow: 0 2px 3px #aaa, 0 5px 5px #eee !important;
}

[data-field-name="private-landowner_email"],
[data-field-name="private-landowner_name"],
[data-field-name="private-landowner_phone"] {
  margin-top: 15px !important;
}

[data-field-type="geolocate"] {
  button {
    background-color: #efefef !important;
  }
}

[data-field-name="residue-tillage_no-residue-tillage"],
[data-field-name="pest-management_no-pest-management"],
[data-field-name="fish-wildlife-management_no-fish-wildlife-management"],
[data-field-name="range-management_no-range-management"],
[data-field-name="nutrient-management_no-nutrient-management"],
[data-field-name="soil-management_no-soil-management"] {
  .input-form__field-prompt-container {
    display: none;
  }
}

label[for="input-form-residue-tillage_no-residue-tillage"],
label[for="input-form-pest-management_no-pest-management"],
label[for="input-form-fish-wildlife-management_no-fish-wildlife-management"],
label[for="input-form-range-management_no-range-management"],
label[for="input-form-nutrient-management_no-nutrient-management"],
label[for="input-form-soil-management_no-soil-management"] {
  padding: 0 !important;
  font-family: FontAwesome, sans-serif;

  &:before {
    display: none;
  }
}

.geocoding-field__do-geocode-icon:before {
  color: #e57c04 !important;
}

[data-field-type="informational_html"] {
  padding: 0 !important;
}

.input-form__field-prompt {
  color: #444 !important;
  font-size: 1.15em !important;
  font-weight: 900 !important;
}

.form-stage-header-bar {
  display: none !important;
}

.big-toggle-field__label,
.big-radio-field__label {
  margin-top: 0 !important;
  border: none !important;
  color: #36454f !important;
  line-height: 1.6em !important;
  min-height: 30px !important;
  background-color: #efefef !important;
  overflow: hidden !important;
  padding-left: 50px !important;
  padding-right: 16px !important;
}

.textarea-field,
.text-field,
input[type="number"],
.datetime-field__input {
  border-color: #999999 !important;
  border-width: 4px !important;
}

.geocoding-field__input {
  background-color: #fff !important;
  border: 4px solid #999999 !important;
}

.big-toggle-field__label--hoverable:hover:before,
.big-radio-field__label--hoverable:hover:before {
  text-indent: 0.5em !important;
  color: #999999 !important;
}

.big-radio-field {
  margin-right: 16px !important;
  margin-top: 8px !important;
}

.big-toggle-field__label:before,
.big-radio-field__label:before {
  max-height: 2em !important;
  top: 50% !important;
  transform: translate(0, -50%) !important;
  height: 2.5em !important;
  width: 2em !important;
  text-indent: 0.5em !important;
  background-color: #999 !important;
  border-radius: 4px;
  box-shadow: 0 3px 0 hsla(0, 0%, 100%, 0.45), 0 -2px 0 hsla(0, 0%, 0%, 0.45);
}

.datetime-field__label-ongoing:before {
  background-color: #efefef !important;
  border: 4px solid #999999 !important;
  box-shadow: 0 3px 0 hsla(0, 0%, 100%, 0.45), 0 -2px 0 hsla(0, 0%, 0%, 0.45);
}

.datetime-field__label-ongoing--toggled:before {
  background-color: #999999 !important;
  color: #fff !important;
}

.datetime-field__label-ongoing--hoverable:hover:before {
  color: #999999 !important;
}

.big-radio-field__label--toggled.big-radio-field__label--hoverable:hover:before,
.big-toggle-field__label--toggled.big-toggle-field__label--hoverable:hover:before,
.datetime-field__label-ongoing--toggled.datetime-field__label-ongoing--hoverable:hover:before {
  color: #fff !important;
}

.big-toggle-field__label--toggled:before,
.big-radio-field__label--toggled:before {
  background-color: #999999 !important;
}

.datetime-field {
  border-color: #999999 !important;
}

.input-form__optional-msg {
  display: none !important;
}

.form-stage-control-bar {
  background: none !important;
}

.mapseed__progress-bar {
  background-color: #fff !important;
}

.mapseed__progress-bar-inner {
  background-color: #40becd !important;
}

.mapseed__link--color-primary {
  background-color: #02440b !important;
}

.mapseed__link--color-primary:hover {
  color: #999999 !important;
}

.mapseed__link--disabled:hover {
  color: #ccc !important;
}

.mapseed__progress-bar {
  background-color: #efefef !important;
}

.mapseed__progress-bar-inner {
  background-color: #ff6201 !important;
}

[class*=SupportButton] {
  background-color: #a3c7d9 !important;
  color: #007fbf !important;
}


/* =Custom Pages
-------------------------------------------------------------- */

.next-btn {
  background-color: #e57c04 !important;
  border-radius: 3px !important;
  float: right !important;
  outline: none !important;
  border: none !important;
  text-transform: uppercase !important;
  color: #fff !important;
  padding: 0.5em !important;
  margin-left: 10px !important;

  &:hover {
    background-color: #ff6201 !important;
  }
}
