.mapseed-input-explorer-input-list-header {

  &.mapseed-input-explorer-input-list-header--visible {
    display: block;
  }

  &.mapseed-input-explorer-input-list-header--hidden {
    display: none;
  }

  .mapseed-input-explorer-input-list-header__header {
    text-align: center;
    font-style: italic;
    font-weight: 200;
  }

  .mapseed-input-explorer-input-list-header__subcategory-menu {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    list-style: none;
    width: 60%;
    border: 1px solid #CCCCCC;
    background-color: #EFEFEF;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;

    input {
      display: none;

      &:checked + label {
        border-bottom: 2px solid blue;
      }
    }

    label {
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 0;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid blue;
      }
    }
  }
}
