/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */


/* =Header
-------------------------------------------------------------- */

#site-header {
  background-color: white;
  background: none;
  padding-left: 1em;
  overflow: visible;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#site-title {
  height: 50px;
}

#site-title-image {
  height: 50px;
}

#sign-in-btn {
  margin-top: 5px;
}

.btn-primary:visited, .btn-primary:link {
  background-color: #00aaff;
  color: #fff;
  background-color: rgba(32, 213, 213, 0.9);
}



/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (max-width: 60em) {
    html, body, #map {
        height: 100%;
    }

    #main {
        // calculated as 100% of viewport height minus the fixed pixel height of the header
        height: calc(100% - 64px);
    }

    #map-container {
        // calculated as 100% of #main height minus the fixed pixel height of the footer
        height: calc(100% - 72px);
    }

    .activity-enabled.content-visible #map-container {
        height: 70%;
    }

    #site-title-image {
      content: url("images/pblogo.png");
    }
}


@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}