/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

label {
  font-size: 1.15em;
  margin-right: 0.5em;
  padding-bottom: 0;
}

.category-btn + label > span {
  width: 296px;
  position: absolute;
  top: 0px;
  left: 38px;
  padding-left: 15px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 0 4px 4px 0;
  padding-top: 11px;
  padding-bottom: 11px;
}

.btn-primary:visited, .btn-primary:link {
  color: #007fbf;
  background-color: rgba(155, 189, 206, .9);
}

/* =Header
-------------------------------------------------------------- */

#site-header {
  background-color: white;
  background: none;
  padding-left: 1em;
  overflow: visible;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#site-title {
  height: 50px;
}

#site-title-image {
  height: 50px;
}

#sign-in-btn {
  margin-top: 5px;
}

/* disable CartoDB link */
.cartodb-logo a {
  pointer-events: none;
  cursor: default;
}

/* hide attribution */
.leaflet-control-attribution {
  display: none;
}



/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (max-width: 60em) {
    html, body, #map {
        height: 100%;
    }

    #main {
        // calculated as 100% of viewport height minus the fixed pixel height of the header
        height: calc(100% - 64px);
    }

    #map-container {
        // calculated as 100% of #main height minus the fixed pixel height of the footer
        height: calc(100% - 72px);
    }

    .activity-enabled.content-visible #map-container {
        height: 70%;
    }

    #site-title-image {
      content: url("images/pblogo.png");
    }
}


@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}

/* smaller logo for smaller screens */
@media only screen and (max-width: 60em) {
  #site-title-image {
    content:url("images/pblogo_small.png");
  }
}

/* bottom-clinging sidebar override */
@media only screen and (max-width: 960px) {
    .sidebar.collapsed {
        width: 33px;
        box-sizing: border-box;
        position: absolute;
        height: 33px;
        top: 85px;
        bottom: auto;
    }

    .sidebar {
        top: 85px;
        left: 10px;
        width: 90%;
        overflow: hidden;
        border-radius: 4px;
        border: none;
        z-index: 2000;
        box-sizing: border-box;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    }

    .sidebar-left .sidebar-tabs {
        top: 0;
        position: absolute;
        height: 99px;
        z-index: 99;
        padding: 0 9px;
        box-sizing: border-box;
        box-shadow: none;
    }
    .sidebar-tabs, .sidebar-tabs > ul {
        width: 33px;
        display: block;
    }
    .sidebar-tabs > ul {
      margin-left: -9px;
    }
    .sidebar-tabs li {
        height: 33px;
        border-radius: 3px;
    }
    .sidebar-content {
        padding-left: 30px;
        padding-bottom: 33px;
        left: 0 !important;
    }
    .sidebar-header .sidebar-close i {
        padding: 5px 8px 6px 8px;
    }
    .sidebar-header .sidebar-close i::before {
        content: "\f053";
    }
    .sidebar-tabs .active {
        border-radius: 0px;
    }
    .sidebar-tabs ul li:nth-child(1) {
      display: none;
    }
    .sidebar-tabs ul li:nth-child(3) {
      display: none;
    }

}