/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

body {
  font-family: Raleway, sans-serif !important;
}

[class*="SupportButton"] {
  background-color: #a3c7d9 !important;
  color: #007fbf !important;
}

/* =Custom Pages
-------------------------------------------------------------- */

.next-btn {
  background-color: #e57c04 !important;
  border-radius: 3px !important;
  float: right !important;
  outline: none !important;
  border: none !important;
  text-transform: uppercase !important;
  color: #fff !important;
  padding: 0.5em !important;
  margin-left: 10px !important;

  &:hover {
    background-color: #ff6201 !important;
  }
}
