{{#extends "../../../base/templates/base"}}

{{#block "site-title"}}
<a href="/">
  <img id="site-title-image" src="/css/images/pblogo_large.png" alt="{{ config.app.name }}" />
</a>
{{/block}}

<!--
  This will place content at the top of the side bar
 -->
{{#block "sidebar"}}
{{/block}}

{{#block "language_picker"}}
	<div id="language-picker">
		<nav class="access" role="article">
			<ul class="menu">
			  <li class="menu-item">
			    <a class="current-language {{ LANGUAGE_CODE }} btn btn-block">Español / 我讲中文 ⌄</a>
		      <ul class="menu">
		        {{#each config.languages}}
	            <li class="menu-item">
	              <a href="/{{this.code}}/index.html" class="{{ this.code }} btn btn-block">{{ this.label }}</a>
	            </li>
		        {{/each}}
		      </ul>
			  </li>
			</ul>
		</nav>
	</div>
{{/block}}

<!--
  This will place content in the colophon below the map
 -->
{{#block "colophon"}}
<p id="powered-by">{{#_}}Powered by{{/_}} <a href="http://shareabouts.org/" class="shareabouts-logo" target="_blank">Shareabouts</a>, <span class="nobreak">a project of <a href="http://openplans.org/" class="openplans-logo" target="_blank">OpenPlans</a></span></p>
{{/block}}

<!--
  Analytics, custom JS, and such go here
 -->
{{#block "includes"}}{{/block}}

{{/extends}}
