.input-explorer-summary {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.input-explorer-summary__summary-box {
  border: 1px solid #CCCCCC;
  padding: 10px;
}

.input-explorer-summary--visibile {
  display: block;
}

.input-explorer-summary--hidden {
  display: none;
}

.input-explorer-summary__num-recommendations {
  float: right;

  &:before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #7ed322;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    margin-left: 12px;
  }
}

.input-explorer-summary__num-concerns {
  float: right;

  &:before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #d0011b;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    margin-left: 12px;
  }
}

.input-explorer-summary__summary-bar-container {
  display: inline-block;
  height: 10px;
  width: 70%;
}

.input-explorer-summary__summary-bar-recommendations {
  display: inline-block;
  height: 10px;
  background-color: #7ed322;
}

.input-explorer-summary__summary-bar-concerns {
  display: inline-block;
  height: 10px;
  background-color: #d0011b;
}

.input-explorer-summary__summary-bar-label-container {
  display: inline-block;
  text-align: right;
  width: 20%;
  margin-right: 25px;
}

.input-explorer-summary__summary-bar-label {
  font-weight: 800;
}

.input-explorer-summary__summary-bar-label-percentage {
  color: #777777;
  font-weight: 200;
}

.input-explorer-summary__summary-header {
  margin-bottom: 20px;
}

.input-explorer-summary__summary-item-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-explorer-summary__summary-quote {
  text-align: center;
  line-height: 1.1em;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 25px;
}

.input-explorer-summary__summary-total-items-header {
  font-weight: 800;
}
