/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

#filter-menu-bar .filter-img:before {
  font-family: Roboto, sans-serif !important;
}

/* =Header bar add report button
-------------------------------------------------------------- */
#pages-nav-container {
  width: calc(100% - 425px);
}

#pages-nav-right-container {
  height: 100%;
  float: right;
}

.add-place-nav {
  float: left;
  font-size: 0.875em;
}

#add-place:hover {
  background-color: rgba(208, 71, 22, 0.89);
}

.list-toggle-nav {
  padding: 0.2em 0.75em;
  position: absolute;
  left: 640px;
}

.mapseed-add-place-button-container {
  display: none !important;
}

/* =Language picker
-------------------------------------------------------------- */
#language-picker {
  display: none;
}

/* =Post detail views
-------------------------------------------------------------- */
.mapseed-response-field-title {
  font-size: 1.2rem !important;
}

/* =Custom pledge type icons
-------------------------------------------------------------- */
.big-btn + label:before {
  font-family: "Font Awesome 5 Free";
  text-indent: 0.8em;
  content: "✔";
}

/* =Left sidebar
-------------------------------------------------------------- */
.mapseed-left-sidebar {
  width: 325px !important;
}

.mapseed-map-layer-selector-container {
  margin-bottom: 4px !important;
}

/* =Dynamic form big button overrides
-------------------------------------------------------------- */
.big-btn + label {
  color: #555;
}

.big-btn:checked + label:before {
  font-weight: normal !important;
  color: #fff !important;
}

.form-field label {
  font-size: 1em;
}

.fileinput-container {
  width: 150px !important;
  font-size: 0.9em;
}

/* =Map
-------------------------------------------------------------- */
#map {
  background: #777;
}

/* =Media Queries
-------------------------------------------------------------- */
@media only screen and (min-width: 60em) {
}

@media only screen and (max-width: 60em) {
  #mapseed-site-logo {
    width: 40px !important;
    max-width: 40px !important;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}
