/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

#filter-menu-bar .filter-img:before {
  font-family: Roboto, sans-serif !important;
}

/* =Header bar add report button
-------------------------------------------------------------- */
#pages-nav-container {
  width: calc(100% - 425px);
}

#pages-nav-right-container {
  height: 100%;
  float: right;
}

.add-place-nav {
  float: left;
  font-size: 0.875em;
}

#add-place:hover {
  background-color: rgba(208, 71, 22, 0.89);
}

.list-toggle-nav {
  padding: 0.2em 0.75em;
  position: absolute;
  left: 640px;
}

.mapseed-add-place-button-container {
  display: none !important;
}

/* =Language picker
-------------------------------------------------------------- */
#language-picker {
  display: none;
}

/* =Post detail views
-------------------------------------------------------------- */
.mapseed-response-field-title {
  font-size: 1.2rem !important;
}

/* =Custom pledge type icons
-------------------------------------------------------------- */
.big-btn + label:before {
  font-family: "Font Awesome 5 Free";
  text-indent: 0.8em;
  content: "✔";
}

/* =Left sidebar
-------------------------------------------------------------- */
.mapseed-left-sidebar {
  width: 325px !important;
}

.mapseed-map-layer-selector-container {
  margin-bottom: 4px !important;
}

/* =Dynamic form big button overrides
-------------------------------------------------------------- */
.big-btn + label {
  color: #555;
}

.big-btn:checked + label:before {
  font-weight: normal !important;
  color: #fff !important;
}

.form-field label {
  font-size: 1em;
}

.fileinput-container {
  width: 150px !important;
  font-size: 0.9em;
}

/* =Map
-------------------------------------------------------------- */
#map {
  background: #777;
}

/* =Maps We Love page
-------------------------------------------------------------- */
#mwl__main-title {
  font-family: Raleway, sans-serif !important;
}

#mwl__tag-container {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0 8px 0;
  border-top: 2px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.mwl__tag-input {
  display: none;
}

.mwl__tag-label {
  padding: 4px 8px;
  margin: 0 8px 8px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: Raleway, sans-serif;
  font-weight: 200;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  color: #009999;
  border: 1px solid #009999;

  &:hover {
    cursor: pointer;
  }
}

/* tag label and item visibility control */
input#mwl-tag-indigenous:checked {
  & ~ #mwl__tag-container > #mwl-tag-indigenous-label {
    background-color: #009999;
    color: #fff;
  }

  & ~ #mwl__gallery-container > .mwl__gallery-item[data-tags*="indigenous"] {
    display: flex;
  }
}

input#mwl-tag-history:checked {
  & ~ #mwl__tag-container > #mwl-tag-history-label {
    background-color: #009999;
    color: #fff;
  }

  & ~ #mwl__gallery-container > .mwl__gallery-item[data-tags*="history"] {
    display: flex;
  }
}

input#mwl-tag-salmon:checked {
  & ~ #mwl__tag-container > #mwl-tag-salmon-label {
    background-color: #009999;
    color: #fff;
  }

  & ~ #mwl__gallery-container > .mwl__gallery-item[data-tags*="salmon"] {
    display: flex;
  }
}

input#mwl-tag-demographics:checked {
  & ~ #mwl__tag-container > #mwl-tag-demographics-label {
    background-color: #009999;
    color: #fff;
  }

  & ~ #mwl__gallery-container > .mwl__gallery-item[data-tags*="demographics"] {
    display: flex;
  }
}

input#mwl-tag-equity:checked {
  & ~ #mwl__tag-container > #mwl-tag-equity-label {
    background-color: #009999;
    color: #fff;
  }

  & ~ #mwl__gallery-container > .mwl__gallery-item[data-tags*="equity"] {
    display: flex;
  }
}

input#mwl-tag-watersystems:checked {
  & ~ #mwl__tag-container > #mwl-tag-watersystems-label {
    background-color: #009999;
    color: #fff;
  }

  & ~ #mwl__gallery-container > .mwl__gallery-item[data-tags*="watersystems"] {
    display: flex;
  }
}

input#mwl-tag-pollution:checked {
  & ~ #mwl__tag-container > #mwl-tag-pollution-label {
    background-color: #009999;
    color: #fff;
  }

  & ~ #mwl__gallery-container > .mwl__gallery-item[data-tags*="pollution"] {
    display: flex;
  }
}

input#mwl-tag-foodsystems:checked {
  & ~ #mwl__tag-container > #mwl-tag-foodsystems-label {
    background-color: #009999;
    color: #fff;
  }

  & ~ #mwl__gallery-container > .mwl__gallery-item[data-tags*="foodsystems"] {
    display: flex;
  }
}

input#mwl-tag-greenbuilding:checked {
  & ~ #mwl__tag-container > #mwl-tag-greenbuilding-label {
    background-color: #009999;
    color: #fff;
  }

  & ~ #mwl__gallery-container > .mwl__gallery-item[data-tags*="greenbuilding"] {
    display: flex;
  }
}

input#mwl-tag-transportationsystems:checked {
  & ~ #mwl__tag-container > #mwl-tag-transportationsystems-label {
    background-color: #009999;
    color: #fff;
  }

  &
    ~ #mwl__gallery-container
    > .mwl__gallery-item[data-tags*="transportationsystems"] {
    display: flex;
  }
}
/* end tag label and item visibility control */

#mwl__gallery-container {
  column-count: 2;
  column-gap: 16px;
  column-fill: balance;
  margin: 16px 8px;

  label {
    height: 100%;
  }

  input {
    display: none;
  }

  .mwl__gallery-item {
    display: none; /* display is controlled by checkbox selectors above */
    position: relative;
    height: 300px;
    max-height: 300px; /* for animated transition */
    transition: max-height 1s ease-in-out;
    margin: 0 0 16px 0;
    break-inside: avoid-column;
    page-break-inside: avoid;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), -2px 0 5px 0 rgba(0, 0, 0, 0.16);

    img {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }

    figcaption {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      flex: 1;
      padding: 8px;
    }

    &:after {
      width: 100%;
      height: 150px;
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 8px;
      pointer-events: none;
      display: flex;
      flex-direction: column-reverse;
      content: "(read more)";
      font-weight: 800;
      color: #009999;
      font-family: Raleway, sans-serif;
      font-size: 9px;
      text-align: center;
      background: -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 1) 90%
      );
      background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 1) 90%
      );
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 1) 90%
      );
    }
  }

  input[name="gallery-items"]:checked + .mwl__gallery-item {
    height: auto;
    max-height: 1500px; /* larger than any content we'd expect */

    &:after {
      content: "";
      background: none;
    }
  }

  .mwl__gallery-item-eyebrow-text {
    text-transform: uppercase;
    font-size: 8px;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:not(:last-of-type):after {
      content: "•";
      padding: 0 2px;
    }
  }

  .mwl__title {
    margin: 4px 0 8px 0;
    font-family: Raleway, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      overflow: visible; 
      white-space: normal;
      height: auto;
    }
  }

  .mwl__description {
    font-size: 0.9rem;
    color: #7b7b7b;
    font-style: italic;
    line-height: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* =Media Queries
-------------------------------------------------------------- */
@media only screen and (min-width: 60em) {
}

@media only screen and (max-width: 60em) {
  #mapseed-site-logo {
    width: 40px !important;
    max-width: 40px !important;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}
