// ################################
// BASE STYLES - SELECTORS
// ################################

html {
    min-height: 100%;
}

body {
    height: 100%;
    text-align: left;

    &:after {
        content: "mobile";
        display: none;
    }
}

// Links - Selectors

a {
    color: $default-link-color;

    &:active, &:visited {
        color: $default-font-color;
    }
}

label {
    color: $default-font-color;

    &:active, &:visited {
        color: $default-font-color;
    }
}

a:hover, label:hover {
    color: $hover-highlight-blue;
}

a {
    &:hover, &:active {
        outline: none;
    }
}

// Typography - Selectors

body {
    line-height: 1.25;
    font-family: $default-font-family;
    color: $default-font-color;
}

select, input, textarea {
    font-family: $default-font-family;
    color: $default-font-color;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.25em 0;
}

h1, h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
    text-transform: uppercase;
}

p {
    margin: 0 0 1.5em;

    // Lists
}

ul, ol, dl {
    margin-bottom: 0.75em;
}

li {
    padding-bottom: 0.75em;
}

nav {
    ul, ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.unstyled-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li, .unstyled-list li {
    padding-bottom: 0;
}

strong {
    font-weight: 800;
}

hr {
    margin: 1.5em 0;
    border: 1px solid $border-color-lightgrey;
    border-top-color: $opacity-low-black;
    border-bottom-color: $opacity-med-high-white;
    border-right: 0;
    border-left: 0;
}

// ################################
// NONSEMANTIC BASE STYLES - SELECTORS
// ################################

.clearfix {
    &:before {
        content: " ";
        display: block;
        height: 0;
        visibility: hidden;
    }

    &:after {
        content: " ";
        display: block;
        height: 0;
        visibility: hidden;
        clear: both;
    }

    zoom: 1;
}

// Hide for both screenreaders and browsers

.is-hidden, .hidden {
    display: none;
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders

.is-screen-reader-text, .is-visuallyhidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);

    // IE6, IE7
    clip: rect(1px, 1px, 1px, 1px);
}

// Hide visually and from screenreaders, but maintain layout

.is-invisible {
    visibility: hidden;
}

.nobreak {
    white-space: nowrap;
}

.capitalize {
    text-transform: capitalize;
}

// Images - Selectors

img {
    max-width: 100%;
    height: auto;
}

.icon-inline {
    height: 1.5em;
    width: auto;
    margin: 0 0.25em -0.325em 0.5em;
}

.icon-muted {
    opacity: 0.75;
}

/* Overrides for Quill rich text editor styles. We set these to prevent text 
   styles within the rich text editor from rendering in a different style than
   they do in place detail views
*/

.ql-editor {
    h1, h2 {
        font-size: 2em !important;
        font-family: "Roboto", sans-serif !important;
        margin-bottom: 0.25em !important;
    }

    h3 {
        font-size: 1.75em !important;
        font-family: "Roboto", sans-serif !important;
        margin-bottom: 0.25em !important;
    }

    h4 {
        font-size: 1.5em !important;
        font-family: "Roboto", sans-serif !important;
        margin-bottom: 0.25em !important;
    }

    h5 {
        font-size: 1.25em !important;
        font-family: "Roboto", sans-serif !important;
        margin-bottom: 0.25em !important;
    }

    h6 {
        font-size: 1em !important;
        font-family: "Roboto", sans-serif !important;
        margin-bottom: 0.25em !important;
        text-transform: uppercase !important;
    }    

    p {
        margin-bottom: 1.5em !important;
    }
}