// ################################
// FOOTER - SELECTORS
// ################################

#colophon {
    padding: 1em 0.5em;
    text-align: center;

    a {
        text-decoration: none;

        //color: #ddd;
        &:hover {
            border-bottom: 1px solid #ffb885;
        }
    }
}

// Powered By - Selectors

#powered-by {
    font-size: 0.75em;
    display: inline;
}

a.shareabouts-logo {
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 1.325em;
    color: #FF8B61;

    //color: $button-background-lightblue;
}

#powered-by a.openplans-logo {
    //color: #ffb885;
    color: #FF8B61;
    font-weight: bold;
}

// Mapquest Attribution - Selectors

#mapquest-attribution {
    font-size: 0.75em;
    display: inline;

    img {
        max-height: 0.75em;
        width: auto;
    }
}

// ################################
// UNSUPPORTED BROWSERS - SELECTORS
// ################################

.unsupported-overlay {
    position: relative;
    z-index: 999999;
    color: #eee;
    font-weight: bold;
}

.unsupported-message {
    background-color: #cd2c67;
    padding: 1em 1em 2em;
    box-shadow: 0 0.325em 0 $opacity-very-low-black, inset 0 0.325em 0 $opacity-very-low-black;

    p {
        font-size: 1.25em;
        margin-bottom: 0.75em;
    }

    a {
        color: $button-color-white;
    }
}

a.close-unsupported-overlay {
    color: #ff5e99;
    font-size: 1em;
    float: none;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 0.325em;
    text-align: center;
    text-transform: uppercase;
    box-shadow: (-0.325em) 0.325em 0 $opacity-very-low-black;
}