// ################################
// GEOCODING - SELECTORS
// ################################

#geocode-address-bar {
    display: none;
    background: url(/static/css/images/lightpaperfibers.png);
    position: relative;
    z-index: 40;
    padding: 0.75em 0.5em 0.5em;
    margin-top: -0.5em;
    box-shadow: 0 0.325em 0 $opacity-very-low-black;
    font-size: 1em;
}

.geocoding-enabled #geocode-address-bar {
    display: block;
}

#geocode-address-bar .error {
    background-color: #BF6083;
    color: $button-color-white;
    line-height: 1.75;
    margin: 0;
    padding: 0.25em 0.5em;
    box-shadow: 2px 2px 0 #BF6083, 2px -2px 0 #BF6083, -2px 2px 0 #BF6083, -2px -2px 0 #BF6083;
    position: absolute;
    top: 3em;
    right: 0.5em;
    bottom: auto;
    left: 0.5em;

    + form {
        box-shadow: 2px 2px 0 #BF6083, 2px -2px 0 #BF6083, -2px 2px 0 #BF6083, -2px -2px 0 #BF6083;
        margin-bottom: 2.5em;
    }

    &.is-hidden + form {
        box-shadow: none;
        margin-bottom: 0;
    }
}

// geocoding-address-place-bar - for place form fields

#geocode-address-place-bar {
    display: none;
    position: relative;
}

.geocoding-enabled #geocode-address-place-bar {
    display: block;
}

#geocode-address-place-bar .error {
    background-color: #BF6083;
    color: $button-color-white;
    line-height: 1.75;
    margin: 0;
    padding: 0.25em 0.5em;
    box-shadow: 2px 2px 0 #BF6083, 2px -2px 0 #BF6083, -2px 2px 0 #BF6083, -2px -2px 0 #BF6083;
    position: absolute;
    top: 3em;
    right: 0.5em;
    bottom: auto;
    left: 0.5em;

    + form {
        box-shadow: 2px 2px 0 #BF6083, 2px -2px 0 #BF6083, -2px 2px 0 #BF6083, -2px -2px 0 #BF6083;
        margin-bottom: 2.5em;
    }

    &.is-hidden + form {
        box-shadow: none;
        margin-bottom: 0;
    }
}

// All other geocoding styles

.geocode-address-form {
    position: relative;
}

input.geocode-address-field {
    width: 100%;
    line-height: 1.25;
    padding-left: 2.125em;

    &:focus {
        outline: 0;
    }
}

.geocode-address-label {
    position: absolute;
    top: 1.5em;
    left: 1em;
    height: 1.25em;
    width: 1.25em;
    margin-top: -0.625em;
    overflow: visible;
    text-indent: -9999px;
    cursor: pointer;

    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
    }

    &:before {
        top: 0;
        left: 0;
        height: 1em;
        width: 1em;
        border: 0.2em solid $button-background-lightblue;
        border-radius: 2em;
        margin: (-0.25em) 0 0 -0.25em;
    }

    &:after {
        top: 50%;
        left: 50%;
        height: 0.75em;
        width: 0.25em;
        margin: 0.125em 0 0 0.375em;
        background-color: $button-background-lightblue;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

.geocode-spinner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2em;
    background-color: $button-background-lightblue;
}