// ################################
// MASTER LEGEND - SELECTORS
// ################################

/* #master-legend {
    overflow: visible;
    padding-left: unset;
    padding-right: unset;
    padding-top: 10px;

    //display: none;
    .unstyled-list {}
} */

// All layers in the Master Legend list

.layer-type-list {
    font-size: 1.4em;
    font-weight: normal;
}

.layer-type-grouping-list {
    margin-left: 10px;

    label {
        font-size: 0.5em;
    }
}

// allows hover to be positioned on the 'layer-type-description'

.layer-type-list {
    li {
        position: relative;
        clear: both;
    }

    img {
        height: 1.75em;
        width: auto;
        vertical-align: middle;
    }
}

.layer-type-description {
    img {
        height: auto;
        width: auto;
    }

    height: 0;
    overflow: visible;
    opacity: 0;
    position: absolute;
    z-index: 30;
    top: 100%;
    right: 1em;
    bottom: auto;
    left: 0.875em;
    margin: 0.25em 0 0 0;
    border-radius: 0 0.5em 0.5em 0.5em;
    background: #000;
    color: $button-color-white;
    font-size: 0.875em;
    line-height: 1.25;
    box-shadow: (-0.25em) 0 1em rgba(255, 255, 255, 0.8);
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    pointer-events: none;
}

.layer-type-li:hover .layer-type-description {
    height: auto;
    padding: 0.375em 0.625em;
    opacity: 1;
    overflow: visible;

    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 0;
        height: 0;
        border: 0.5em solid transparent;
        border-bottom-color: #000;
        border-left-color: #000;
    }
}

.layer-type-list {
    font-size: 0.875em;
}

.layer-type-title {
    .info-icon {
        float: right;
        font-family: "FontAwesome";

        &:before {
            content: $icon-info;
        }

        &:hover {
            cursor: pointer;
            color: #777;
        }
    }

    .info-icon-placeholder {
        float: right;
        font-family: "FontAwesome";
        visibility: hidden;

        &:before {
            content: $icon-info;
        }
    }

    .status-icon {
        float: right;
        font-family: "FontAwesome";
        margin-right: 10px;
        visibility: hidden;
    }

    label {
        display: block;
        vertical-align: middle;
        font-size: 1em;
        max-width: 75%;
        float: left;
        margin-top: 2px;
        margin-bottom: 2px;

        &:hover {
            background-color: lightyellow;
        }
    }

    input {
        vertical-align: middle;
        margin-right: 8px;
        font-size: 1em;

        &:checked {

            &+label {
                background-color: yellow;
            }

            &~.status-icon {
                visibility: visible;

                &.loaded {
                    &:before {
                        color: #22c722;
                        content: $icon-checkmark;
                    }
                }

                &.error {
                    &:before {
                        color: #ff0000;
                        content: $icon-exclamation;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}

.layer-type-title:active label:hover, .shareabouts-layer-li:active a {
    color: $hover-highlight-blue;
}

.layer-type-grouping-title {
    margin-top: 8px;
    font-size: 15px;
    font-weight: bold;

    label {
        font-size: 15px;
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }
    }
}

.map-layer-list {
    margin-bottom: 0.5em;
    font-size: 0.75em;
}

.layer-type-li label, .shareabouts-layer-li a {
    cursor: pointer;
    position: relative;
    z-index: 20;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    font-family: $default-font-family;
}


//#master-legend .layer-type-title label {
//color: #ddd;
//font-weight: normal;
//position: absolute;
//z-index: 20;
//
//text-transform: none;
//}

//#master-legend .layer-type-list:after {
//content: '';
//position: absolute;
//z-index: 10;
//top: 0;
//left: 0;
//height: 1.75em;
//width: 1.75em;
//border-radius: 100%;
//background: $button-color-white;
//box-shadow: 0 0 0 2px $button-color-white;
//}

//
//display: block;
//padding: 1em;
//-webkit-box-sizing: border-box;
//-moz-box-sizing: border-box;
//box-sizing: border-box;
//}


// Shareabouts layers

// #legend-container .legend-layer-li img {
// // *  width: 2em;
// // *  height: auto;
// // *}

.master-layer-list {
    padding-left: unset;
    list-style-type: none;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0.5em;
    margin-bottom: 0;

    .shareabouts-layer-li {
        font-size: 14px;
    }
    .unstyled-list {
        overflow: visible;
        padding-left: unset;
        padding-right: unset;
        padding-top: 10px;
    }
    .shareabouts-layer-title {
        font-size: 22px;
        cursor: pointer;
        width: 1em;
        height: auto;
        z-index: 20;
        text-transform: none;
        vertical-align: top;
        margin-right: 8px;
    }
    .shareabouts-layer-li,
    .shareabouts-layer-title {
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: .3em;
        float: none;
    }
    .nested-legend-list {
        margin: 0;
    }
}

@media screen and (min-width: 40.063em) {
    .active {
        height: 100%;
        /*width: 16em;*/
        top: 0;
        right: 0;
        overflow: auto;
    }
}
