// ################################
// LIST VIEW - SELECTORS
// ################################

.list-toggle-nav {
    display: none;
}

#list-container {
    display: none;
    background: $button-color-white;
    position: absolute;
    padding: 1.75em 1em;
    top: 4em;

    // height of #site-header (on large screens)
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 39;
    overflow: auto;

    // Restrict the width of images embedded with the rich text editor
    .place-value img {
        max-width: 25%;
    }
}

.place-list, .place-list-header {
    max-width: 70em;
    margin: 0 auto;
}

// Search - Selectors

.list-search-form input {
    max-width: 25em;
    float: left;
    padding: 0.5em;
    margin-right: 0.5em;
}

// Search & Sort - Selectors

.list-sort-menu {
    float: right;
    padding: 1em 0 0;
    color: #eee;
    text-transform: uppercase;
}

.list-sort-prompt {
    font-size: 0.75em;
    color: #999;
}

.list-sort-menu a {
    font-weight: bold;
    font-size: 0.75em;
    text-decoration: none;

    &.is-selected {
        color: #555;
    }
}

// Place List - Selectors

.place-list {
    clear: both;
    padding: 1.25em 0 0;

    > li {
        margin: 0;
        padding: 0.75em 0 1.25em 0;
        border-top: 1px solid $border-color-lightgrey;
    }

    .place-header {
        font-size: 0.875em;

        &:before {
            display: none;
        }

        &:after {
            display: none;
            clear: none;
        }

        h1 {
            font-size: 1.5em;
        }
    }

    .place-submission-details {
        float: left;
        width: 17.25em;
        margin-top: 0.5em;
        padding-left: 3em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .point-submitter .avatar {
        width: 2.5em;
        height: 2.5em;
        float: left;
        margin-left: -3em;
    }

    .place-items {
        margin-right: 5em;
        margin-left: 16em;
    }

    .place-item-attachment {
        float: left;
        max-width: 9em;
        margin: 0 1em 0.75em 0;
    }

    .place-label, .place-value {}

    .place-label:empty, .place-value:empty {
        display: none;
    }
}

.place-item-attachment .place-value:empty {
    display: block;
}

.view-on-map-btn {
    margin: 1em 0;
    float: left;
}