// ################################
// MAP - SELECTORS
// ################################

#map-container {
    position: relative;
    background: $button-background-lightblue;
    z-index: 10;
}

#map {
    background: $button-background-lightblue;
    height: 150px;

    //opacity: 0.5;
}

// Geolocation Button - Selectors

.locate-me {
    background-image: url(images/locate-me.png);
}

#map {
    .leaflet-bar a {
        width: 33px;
        height: 33px;
        line-height: 33px;

        &:hover {
            width: 33px;
            height: 33px;
            line-height: 33px;
        }
    }

    .leaflet-control-attribution {
        font-size: 9px;
        -webkit-text-size-adjust: none;

        // keep iPhone from getting smart with the font sizes
   
    }
}

// Map Attribution - Selectors

// Tool buttons - Selectors

#main-btns-container {
    // background: url(images/lightpaperfibers.png);
    margin-left: 2%;
    padding: 0.5em 0.5em 0.75em;
    position: relative;
    z-index: 30;
    // box-shadow: 0 -0.325em 0 $opacity-very-low-black;
    // border-bottom: 1px solid #666;
}

#add-place {
    display: inline;
}

#nav-stories {
    background-color: #007fbf;
    display: inline;
}

#story-btn-container {
    padding: 5px;
    display: table-cell;
}

#add-place {
}
 
#nav-stories {
    background-color: #007fbf;
}

.content-visible #story-btn-container {
    display: none;
}

// Center Point (new point icon) - Selectors

#centerpoint {
    display: none;

    &.newpin {
        overflow: visible;
        position: absolute;
        top: 50%;
        left: 50%;
        pointer-events: none;
        z-index: 11;
        width: 100px;
        height: 100px;
        margin: (-44px) 0 0 -12px;
    }
}

#centerpoint.newpin {
    .x {
        display: block;
        position: absolute;
        width: 18px;
        height: 12px;
        background: transparent url(images/marker-x.png) 0 0 no-repeat scroll;
        left: 4px;
        top: 37px;
        opacity: 0;
        -webkit-transition: opacity 0.25s;
        -moz-transition: opacity 0.25s;
        -o-transition: opacity 0.25s;
        -ms-transition: opacity 0.25s;
        transition: opacity 0.25s;
    }

    &:hover .x, &.dragging .x {
        opacity: 1;
    }

    .shadow {
        display: block;
        height: 47px;
        width: 47px;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent url(images/marker-shadow.png) 0 3px no-repeat scroll;
        -webkit-transition: opacity 0s, background-position 0.3s ease;
        -moz-transition: opacity 0s, background-position 0.3s ease;
        -o-transition: opacity 0s, background-position 0.3s ease;
        -ms-transition: opacity 0s, background-position 0.3s ease;
        transition: opacity 0s, background-position 0.3s ease;
    }

    &:hover .shadow, &.dragging .shadow {
        opacity: 0.2;
        background-image: url(images/marker-shadow.png), url(images/marker-shadow.png), url(images/marker-shadow.png), url(images/marker-shadow.png), url(images/marker-shadow.png), url(images/marker-shadow.png), url(images/marker-shadow.png), url(images/marker-shadow.png), url(images/marker-shadow.png);
        background-position: 0px -3px, 3px -3px, 6px -3px, 0px -6px, 3px -6px, 6px -6px, 0px -9px, 3px -9px, 6px -9px;
    }

    .marker {
        display: block;
        width: 25px;
        height: 41px;
        background: transparent url(images/marker-plus.png) 0 0 no-repeat scroll;
        position: relative;
        top: 3px;
        -webkit-transition: top 0.4s ease;
        -moz-transition: top 0.4s ease;
        -o-transition: top 0.4s ease;
        -ms-transition: top 0.4s ease;
        transition: top 0.4s ease;
    }

    &:hover .marker, &.dragging .marker {
        top: -20px;
    }
}

// map spotlight effect

#spotlight-mask {
    display: none;
    pointer-events: none;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 800px rgba(0,0,0,0.4), inset 0px 0px 20px 30px rgba(0,0,0,0.4);
}

// Drag Marker Instructions (for adding a new place) - Selectors

.drag-marker-instructions {
    background-color: LightYellow;
    background-color: rgba(240, 240, 0, 0.2);
    color: #444;
    font-weight: bold;
    text-shadow: (-1px) 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 1em;
    padding: 0.75em 1em 0.875em;
    border-radius: 0.325em;
}

.drag-marker-warning {
    background-color: LightYellow;
    background-color: rgba(240, 240, 0, 0.2);
    color: #444;
    font-weight: bold;
    text-shadow: (-1px) 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 1em;
    padding: 0.75em 1em 0.875em;
    border-radius: 0.325em;
    background-color: LightPink;
    background-color: rgba(242, 206, 206, 0.8);
}

// Ajax Error Message - Selectors

#ajax-error-msg {
    display: none;
    position: absolute;
    top: 10px;
    left: 50px;
    max-width: 300px;
    z-index: 9999;
    padding: 0.625em;
    color: #8D5251;
    border: 1px solid #CFABAB;
    background-color: rgba(242, 206, 206, 0.8);
    border-radius: 4px;
}

.cluster-large {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: greenyellow;
    text-align: center;
    font-size: 24px;
}

.cluster-small {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    background-color: #ffdb58;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    box-sizing: border-box;

    // ################################
}

// PROGRESS BARS - SELECTORS
// ################################

.progress-bar {
    background: rgba(85, 85, 85, 0.5);
    height: 1.5em;
    padding: 0 0.25em;
    position: relative;
    border-radius: 0.75em;
    cursor: default;
    pointer-events: none;

    strong {
        position: absolute;
        top: 0;
        left: 1em;
        z-index: 2;
        color: $button-color-white;
        font-size: 0.75em;
        line-height: 1.875;
        text-transform: uppercase;
        text-shadow: 0 0 0.25em rgba(85, 85, 85, 1);
    }

    span {
        background: $hover-highlight-blue;
        display: block;
        width: 0%;
        height: 1em;
        position: relative;
        z-index: 1;
        top: 0.25em;
        overflow: visible;
        border-radius: 0.5em;
        white-space: nowrap;
    }
}

#map-progress {
    position: absolute;
    top: 10px;
    right: 50px;
    bottom: auto;
    left: 50px;
    z-index: 3;
    display: none;
    font-size: 1.25em;
}

.leaflet-control-attribution {
    display: none;
}