// ################################
// MAP - SELECTORS
// ################################

#map-container {
  position: relative;
  background: $button-background-lightblue;
  z-index: 10;
}

#map {
  background: $button-background-lightblue;
  height: 150px;
}

.add-edit-cursor {
  cursor: crosshair !important;
}

// Geolocation Button - Selectors

.locate-me {
  background-image: url(/static/css/images/locate-me.png);
}

// map spotlight effect

#spotlight-mask {
  display: none;
  pointer-events: none;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 800px rgba(0, 0, 0, 0.4),
    inset 0px 0px 20px 30px rgba(0, 0, 0, 0.4);
  z-index: 400;
}

// Ajax Error Message - Selectors

#ajax-error-msg {
  display: none;
  position: absolute;
  top: 10px;
  left: 50px;
  max-width: 300px;
  z-index: 9999;
  padding: 0.625em;
  color: #8d5251;
  border: 1px solid #cfabab;
  background-color: rgba(242, 206, 206, 0.8);
  border-radius: 4px;
}

.cluster-large {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: greenyellow;
  text-align: center;
  font-size: 24px;
}

.cluster-small {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #ffdb58;
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  box-sizing: border-box;

  // ################################
}

// PROGRESS BARS - SELECTORS
// ################################

.progress-bar {
  background: rgba(85, 85, 85, 0.5);
  height: 1.5em;
  padding: 0 0.25em;
  position: relative;
  border-radius: 0.75em;
  cursor: default;
  pointer-events: none;

  strong {
    position: absolute;
    top: 0;
    left: 1em;
    z-index: 2;
    color: $button-color-white;
    font-size: 0.75em;
    line-height: 1.875;
    text-transform: uppercase;
    text-shadow: 0 0 0.25em rgba(85, 85, 85, 1);
  }

  span {
    background: $hover-highlight-blue;
    display: block;
    width: 0%;
    height: 1em;
    position: relative;
    z-index: 1;
    top: 0.25em;
    overflow: visible;
    border-radius: 0.5em;
    white-space: nowrap;
  }
}

#map-progress {
  position: absolute;
  bottom: 10px;
  right: 50px;
  left: 50px;
  z-index: 3;
  display: none;
  font-size: 1.25em;
}
