// MEDIA QUERIES
// ################################
// ################################

// Catchall media query for screen widths below 60em.
@media only screen and (max-width: 60em) {
  html,
  body,
  #map {
    height: 100%;
  }

  #add-place-button {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;
  }

  #map-container {
    height: 100%;
  }

  #list-container,
  #dashboard-container,
  #sha-container {
    display: none;
  }

  #right-sidebar-container {
    display: none;
  }

  #left-sidebar-container {
    height: calc(100% - #{$header-height-smallscreen});
  }

  .geocoding-bar-enabled {
    #left-sidebar-container {
      // NOTE: 44px represents the height of the geocode address bar on mobile screens
      height: calc(100% - #{$header-height-smallscreen} - 44px);
    }

    #map-container {
      height: calc(100% - 44px);
    }
  }

  .content-visible #map-container {
    height: 60%;
  }

  .content-visible.geocoding-bar-enabled #map-container {
    height: calc(60% - 44px);
  }

  .content-visible.place-form-visible {
    #map-container {
      height: 60%;
    }
  }

  #content {
    // bump up the bottom padding here so content at the very bottom
    // of a page is not obscured by bottom-clinging buttons
    padding-bottom: 75px;
  }

  #nav-stories,
  #add-place {
    white-space: nowrap;
  }

  .info-icon {
    display: none;
  }

  .place-header.editing-toggled,
  .place-header.editing-toggled {
    padding-top: 20px;
  }

  .place-detail-spacer {
    &.editing-toggled {
      padding-top: 15px;
    }
  }
}

// default for other media
@media only screen and (min-width: 60em) {
  // A helper to let the JS know what kind of layout we're using
  body {
    overflow: hidden;

    &:after {
      content: "desktop";
    }
  }

  #main {
    position: relative;
    height: 100%;
  }

  #site-header {
    position: relative;
    z-index: 40;
    height: $header-height-fullscreen;
    box-shadow: 0 0.125em 0 rgba(0, 0, 0, 0.2);
  }

  // right sidebar
  #right-sidebar-container {
    top: 0;
    height: 100%;
  }

  // Map
  #map-container {
    position: relative;
    height: 100%;
  }

  .content-visible #map-container {
    right: auto;
    left: 18em;
    margin-left: -18em;
    width: 40%;
  }

  .geocoding-bar-enabled #map-container {
    top: 72px;
  }

  #map {
    height: 100%;
  }

  // Content
  #content {
    color: $default-font-color;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: visible;
    box-shadow: (-0.325em) 0 0 $opacity-very-low-black;
    width: $content-visible-width;
  }

  .content-visible {
    #content {
      left: $content-visible-left-offset;
      width: $content-visible-width;
    }
    #map-container {
      width: $map-width-when-content-visible;
    }
  }

  .right-sidebar-active {
    #map-container {
      width: 100%;
    }
    &.content-visible {
      #map-container {
        width: $map-width-when-content-visible;
      }
      #content {
        left: $content-visible-left-offset;
        width: $content-visible-width;
      }
    }

    &.right-sidebar-visible {
      #map-container,
      #geocode-address-bar {
        width: $map-width-when-sidebar-visible;
      }
      &.content-visible {
        #map-container {
          width: $map-width-when-content-and-sidebar-visible;
        }
        #content {
          left: $content-visible-with-sidebar-left-offset;
        }
      }
    }
  }

  #left-sidebar-container {
    height: 100%;
  }

  .geocoding-bar-enabled {
    #content {
      top: 72px; // geocode bar height
      height: calc(100% - 72px);
    }

    #left-sidebar-container {
      // NOTE: 72px represents the height of the geocode address bar on desktop screens
      height: calc(100% - 72px);
      top: 72px;
    }
  }

  a.close-btn {
    line-height: 2;
    top: 10px;
    left: auto;
    right: 100%;
    margin: 0 -0.325em 0 0;
    padding: 0.125em 0.625em 0.125em 0.625em;
    border-radius: 0.325em 0 0 0.325em;
    box-shadow: (-0.325em) 0.325em 0 $opacity-very-low-black;

    &:hover {
    }

    span {
      display: none;
    }
  }

  #content > article {
    overflow: auto;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 2em;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  // Geocoding
  #geocode-address-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 72px;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 11;
    border-right: 1px solid #666;
    margin-top: 0;
    background-color: #fff;
    box-shadow: 0 0.125em 0 rgba(0, 0, 0, 0.2);
  }

  .activity-enabled {
    &.content-visible #side-bar {
      display: block;
    }

    #map-container {
      right: 0;
    }
  }

  .activity-enabled #map-container {
    right: 0;
  }

  .activity-enabled {
    &.content-visible #master-legend {
      display: block;
    }

    #map-container {
      right: 0;
    }
  }
}

@media only screen and (min-width: 80em) {
  #content {
    right: 0;
    left: 60%;
  }

  .activity-enabled #content {
    left: $content-visible-left-offset;
    width: $content-visible-width;
  }

  .content-visible #map-container {
    width: $map-width-when-content-visible;
  }

  .activity-enabled.content-visible #map-container {
    width: $map-width-when-content-visible;
  }
}

// High Resolution Displays
@media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2 / 1),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  .share-twitter a {
    background-image: url(/static/css/images/twitter-64.png);
    background-size: contain;
  }

  .share-facebook a {
    background-image: url(/static/css/images/facebook-64.png);
    background-size: contain;
  }

  .locate-me {
    background-image: url(/static/css/images/locate-me@2x.png);
    background-size: contain;
  }
}
