#left-sidebar-container {
  position: absolute;
  overflow: auto;
  left: 0;
  z-index: 15;
  width: 20%;
  height: 100%;
  background-color: #fff;
  opacity: 0.95;
}

#right-sidebar-container {
  background-color: #fff;
  width: 0;
  position: absolute;
  right: 0;
  .story-sidebar__collapse-btn {
    position: absolute;
    top: 50%;
    text-decoration: none;
    z-index: 100;
    font-size: 1.2em;
    background-color: white;
    padding: 10px;
    color: #ff5e99;
    border-radius: 0.325em 0 0 0.325em;
    box-shadow: -0.325em 0.325em 0 rgba(0, 0, 0, 0.1);
    left: -25px;

    &:hover {
      color: #cd2c67;
    }

    &:before {
      content: "\276e";
    }
  }
}

.right-sidebar-visible {
  #right-sidebar-container {
    position: absolute;
    right: 0;
    .right-sidebar__collapse-btn {
        position: absolute;
        top: 50%;
        text-decoration: none;
        z-index: 100;
        font-size: 1.2em;
        background-color: white;
        padding: 10px;
        color: #ff5e99;
        border-radius: 0.325em 0 0 0.325em;
        box-shadow: -0.325em 0.325em 0 rgba(0, 0, 0, 0.1);
        left: -25px;
        
        &:hover {
            color: #cd2c67;
        }

        &:before {
          content: "\276e";
        }
    }
}

.right-sidebar-visible {
    #right-sidebar-container {
        position: absolute;
        right: 0;
        width: $sidebar-width;
        box-shadow: (-0.325em) 0 0 $opacity-very-low-black;
        z-index: 10;
    }
    .right-sidebar__collapse-btn:before {
        content: "\276F" !important;
    }
}
