// ################################
// SIDEBAR - SELECTORS
// ################################

#side-bar {
    display: none;
    overflow: auto;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.5);

    p {
        color: #F25218;
        font-family: $default-font-family;
        text-shadow: 1px -1px 1px $opacity-med-black;
        font-size: 1.4em;
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    hr {
        margin: 0.5em 0;

        //padding: 7px 0 7px 10px;
        //margin: 0;
        //letter-spacing: 1px;
        //text-transform: uppercase;
        //height: 12px;
        border: none;
    }

    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*---- leaflet side bar overrides ----*/

.sidebar-header {
    margin: -10px -10px 0;
    .sidebar-close {
        z-index: 1;
        i {
            margin-right: 30px;
            background: #0074d9;
            border-radius: 50%;
            padding: 6px 10px 5px 6px;
        }
    }
}

//#side-bar header {
//font-size: 2.3em;
//font-family: 'Dancing Script', cursive;
//text-shadow: 1px -1px 1px rgba(0,0,0,0.5);
//}


/*---- right-clinging sidebar styles ----*/

#right-sidebar {
    height: calc(100% - #{$header-height-fullscreen} - 15px);
}

.right-sidebar-visible {
    #right-sidebar-container {
        position: absolute;
        right: 0;
        width: $sidebar-width;
        overflow: visible;
        box-shadow: (-0.325em) 0 0 $opacity-very-low-black;
        z-index: 10;
    }
    #right-sidebar-content {
        overflow: auto;
        height: 100%;
    }
    .collapse-btn:before {
        content: "\276F";
    }
}
.right-sidebar-collapsed {
    #right-sidebar-container {
        width: 0;
    }
    .collapse-btn:before {
        content: "\276E";
    }
}

#right-sidebar-container {
    #right-sidebar-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .sidebar-tabs-container {
        background-color: #e5e5e5;
        display: table;
        // table-layout: fixed;
        width: 100%;
        padding-top: 15px;
        .sidebar-tab {
            cursor: pointer;
            position: relative;
            display: table-cell;
            text-align: center;
            color: $button-background-lightblue;
            font-family: $default-font-family;
            text-transform: uppercase;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 5px;
            padding-left: 5px;
            &:hover {
                color: $button-background-blue;
            }
        }
        .selected {
            z-index: 20;
            background-color: white;
            color: $button-background-blue;
            -webkit-box-shadow: 0px -4px 2px -2px rgba(217,217,217,1);
            -moz-box-shadow: 0px -4px 2px -2px rgba(217,217,217,1);
            box-shadow: 0px -4px 2px -2px rgba(217,217,217,1);
        }
    }
    .right-sidebar-content {
        overflow: auto;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        text-decoration: none;
        position: relative;
        width: 90%;
        background-color: white;
        -webkit-box-shadow: 0px -4px 2px -2px rgba(217,217,217,1);
        -moz-box-shadow: 0px -4px 2px -2px rgba(217,217,217,1);
        box-shadow: 0px -4px 2px -2px rgba(217,217,217,1);
        h5 {
            line-height: 1em;
        }
        a {
            text-decoration: none;
        }
        .sidebar-story-overview {
            hr {
                margin-top: 7px;
                margin-bottom: 7px;
            }
        }
        .sidebar-story-overview-item {
            padding: 5px;
            &:hover {
                cursor: pointer;
                background-color: #dae5e8;
            }
            h5 {
                font-size: 1.1em;
            }
        }
        .nav-previous-pane {
            color: #AAAAAA;
            font-weight: bold;
            &:hover {
                color: $link-hover-color;
                cursor: pointer
            }
            &:before {
                font-family: FontAwesome;
                margin-right: 5px;
                content: "\f053";
                margin-top: 3px;
            }
        }
        .sidebar-story-item {
            display: table;
            width: 100%;
            padding-top: 4px;
            padding-bottom: 4px;
            list-style-type: none;
            border-top: 1px solid #999999;
            li {
                display: table-row;
            }
            p {
                margin: 0;
                font-size: 0.8em;
            }
            &:hover {
                cursor: pointer;
                .sidebar-story-title {
                    color: $link-hover-color;                
                }
            }
            &:before {
                clear: both;
            }
        }
        .story-selected {
            background-color: #00aaff;
            .sidebar-story-title {
                color: white;
            }
            &:hover {
                .sidebar-story-title {
                    color: white !important;
                }
            }
        }
        h5 {
            font-size: 1em;
            margin-bottom: 25px;
        }
        .sidebar-story-thumbnail {
            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            display: table-cell;
            vertical-align: middle;
            width: 30px;
            min-width: 30px;
            padding-right: 7px;
        }
        .sidebar-story-title {
            display: table-cell;
            vertical-align: middle;
            font-family: Roboto, sans-serif;
            text-transform: uppercase;
        }
    }
    .collapse-btn {
        position: absolute;
        top: 50%;
        text-decoration: none;
        z-index: 100;
        font-size: 1.2em;
        background-color: white;
        padding: 10px;
        color: #ff5e99;
        border-radius: 0.325em 0 0 0.325em;
        box-shadow: -0.325em 0.325em 0 rgba(0, 0, 0, 0.1);
        left: -25px;
        &:hover {
            color: #cd2c67;
        }
    }
}




