// ################################
// SIDEBAR - SELECTORS
// ################################

#side-bar {
    display: none;
    overflow: auto;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.5);

    p {
        color: #F25218;
        font-family: $default-font-family;
        text-shadow: 1px -1px 1px $opacity-med-black;
        font-size: 1.4em;
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    hr {
        margin: 0.5em 0;

        //padding: 7px 0 7px 10px;
        //margin: 0;
        //letter-spacing: 1px;
        //text-transform: uppercase;
        //height: 12px;
        border: none;
    }

    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Leaflet sidebar filter menu */
#filters-pane {
    hr {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .filter-menu-item {
        position: relative;
        display: block;
        cursor: pointer;
        margin-top: 5px;
        font-size: 1.0em !important;

        .filter-menu-check-icon {
            display: none;
            float: right;
            margin-top: 2px;
            color: #22c722;

            &:before {
                font-family: "FontAwesome";
                content: $icon-checkmark;
                font-size: 0.7em;
            }
        }

        img {
            width: 25px;
        }

        input {
            display: none;

            &:checked {
                & + .filter-menu-item-label {
                    background-color: yellow;
                }

                & ~ .filter-menu-check-icon {
                    display: block;
                }
            }
        }
        
        .filter-menu-item-label {
            text-transform: uppercase;
            font-size: 0.65em;
            position: absolute;
            top: 0.8em;
            left: 35px;
        }

        &:hover .filter-menu-item-label {
            background-color: lightyellow;
        }
    }
}

/*---- leaflet side bar overrides ----*/

.sidebar-header {
    margin: -10px -10px 0;
    .sidebar-close {
        z-index: 1;
        i {
            margin-right: 30px;
            background: #0074d9;
            border-radius: 50%;
            padding: 6px 10px 5px 6px;
        }
    }
}

//#side-bar header {
//font-size: 2.3em;
//font-family: 'Dancing Script', cursive;
//text-shadow: 1px -1px 1px rgba(0,0,0,0.5);
//}


/*---- right-clinging sidebar styles ----*/

.sidebar-error {
    color: #BBB;
    text-align: center;
    left: 0 !important;
    padding: 10px;
}

#right-sidebar-container {
    background-color: #FFF;
    width: 0;
    position: absolute;
    right: 0;
    .collapse-btn:before {
        content: "\276E";
    }
    #right-sidebar-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
    }
    #right-sidebar-content {
        height: calc(100% - #{$header-height-fullscreen});
        overflow: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration: none;
        position: relative;
        background-color: white;
        -webkit-box-shadow: 0px -4px 2px -2px rgba(217,217,217,1);
        -moz-box-shadow: 0px -4px 2px -2px rgba(217,217,217,1);
        box-shadow: 0px -4px 2px -2px rgba(217,217,217,1);
        h5 {
            line-height: 1em;
        }
        a {
            text-decoration: none;
        }
        #sidebar-story-item-list {
            padding-left: 0;
        }
        .sidebar-story-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-right: 8px;
            min-height: 40px;
            list-style-type: none;
            border-left: 2px solid transparent;
            .sidebar-story-item-title {
                margin-left: 10px;
                margin-bottom: 0;
                font-size: 0.8em;
                font-family: Roboto, sans-serif;
                text-transform: uppercase;
            }
            .sidebar-story-item-thumbnail {
                padding-left: 5px;
                padding-top: 5px;
                padding-bottom: 5px;
                width: 30px;
                min-width: 30px;
                padding-right: 7px;
            }
            &:hover {
                cursor: pointer;
                border-left: 2px solid $link-hover-color;
                .sidebar-story-item-title {
                    color: $link-hover-color;                
                }
            }
            &:before {
                clear: both;
            }
            a {
                height: 100%;
            }
        }
        .story-selected {
            background-color: #00aaff;
            .sidebar-story-item-title {
                color: white;
            }
            &:hover {
                .sidebar-story-item-title {
                    color: white !important;
                }
            }
        }
        h5 {
            font-size: 1em;
            margin-bottom: 25px;
        }
    }
    .collapse-btn {
        position: absolute;
        top: 50%;
        text-decoration: none;
        z-index: 100;
        font-size: 1.2em;
        background-color: white;
        padding: 10px;
        color: #ff5e99;
        border-radius: 0.325em 0 0 0.325em;
        box-shadow: -0.325em 0.325em 0 rgba(0, 0, 0, 0.1);
        left: -25px;
        &:hover {
            color: #cd2c67;
        }
    }
}

.right-sidebar-visible {
    #right-sidebar-container {
        position: absolute;
        right: 0;
        width: $sidebar-width;
        box-shadow: (-0.325em) 0 0 $opacity-very-low-black;
        z-index: 10;
    }
    #right-sidebar-content {
        overflow: auto;
        height: 100%;
    }
    .collapse-btn:before {
        content: "\276F" !important;
    }
}



