// ################################
// TICKER - SELCTORS
// ################################

#ticker {
    background: url(/static/css/images/lightpaperfibers.png);
    z-index: 30;
    display: none;

    p {
        padding-left: 1em;
    }
}

.activity-enabled #ticker {
    display: block;
    width: 40%;
}

//.content-visible #ticker {
//display: none;

// hide ticker when content is visible on mobile
//}

ul.recent-points {
    list-style: none;
    margin: 0;
    padding: 0;
}

.recent-points {
    li {
        position: relative;

        &:hover {}
    }

    a {
        color: #36454f;
        text-decoration: none;
        float: left;
        border-top: 1px solid #888;
        border-bottom: 1px solid #666;
        padding: 0.5em 0.5em 0.5em 3em;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    li:first-child a {
        border-top: 0;
        padding-top: 0.75em;
    }

    a:hover {
        color: #00aaff;
    }

    .avatar {
        width: 2em;
        height: 2em;
        float: left;
        margin-left: -2.5em;
    }
}