// ################################
// BASE STYLES - VARIABLES
// ################################
// Links - Variables
$default-link-color: #000000;
$hover-highlight-blue: #36454f;

// Typography - Variables
$default-font-color: #36454f;
$default-font-family: "Roboto", sans-serif;
$border-color-lightgrey: #eeeeee;
$link-hover-color: #00aaff;

// Buttons - Variables
$button-background-blue: #007fbf;
$button-background-hover-blue: #93b7c9;
$button-background-lightblue: #a3c7d9;
$button-background-red: rgba(255, 0, 0, 0.43);
$button-background-hover-red: rgba(255, 0, 0, 0.65);
$button-color-white: #fff;
$button-primary-background-orange: rgba(242, 82, 24, 0.89);
$opacity-lowest-black: rgba(0, 0, 0, 0.05);
$opacity-very-low-black: rgba(0, 0, 0, 0.1);
$opacity-low-black: rgba(0, 0, 0, 0.2);
$opacity-med-black: rgba(0, 0, 0, 0.5);
$opacity-med-high-white: rgba(255, 255, 255, 0.75);
$button-left-arrow: '\f137';
$button-right-arrow: '\f138';
// Forms - Variables

// Dynamic Form - Variables
$icon-check-mark: "✔";
$icon-expansion-hamburger: "";
$icon-disclosure-triangle-down: "\f0d7";
$icon-disclosure-triangle-left: "\f0d9";
$unselected-highlight-light-gray: #D1D3D4;
$unselected-message-light-gray: #999999;
$unselected-highlight-medium-gray: #444444;
$unselected-message-medium-gray: #EEEEEE;
$selected-highlight-orange: rgb(242, 82, 24);
$selected-highlight-orange-faded: rgba(242, 82, 24, 0.31);
$selected-message-dark-gray: #222222;

// Images - Variables

// Content - Variables
$border-radius-small: 3px;
$border-radius-medium: 6px;
$border-radius-large: 10px;
$background-color-alert: #ffffe0;
$background-color-warning: #ffb6c1;

// ################################
// NONSEMANTIC BASE STYLES - VARIABLES
// ################################

// ################################
// HEADER - VARIABLES
// ################################
$header-height-fullscreen: 64px;
$header-height-smallscreen: 58px;
// Navigation Button - Variables
// Navigation Menu - Variables
// User Menu - Variables

// ################################
// MAP - VARIABLES
// ################################
// Geolocation Button - Variables
// Map Attribution - Variables
// Add Place Button - Variables
// Center Point (new point icon) - Variables
// Drag Marker Instructions (for adding a new place) - Variables
// Ajax Error Message - Variables

// ################################
// PROGRESS BARS - VARIABLES
// ################################

// ################################
// CONTENT: PAGES AND PLACES - VARIABLES
// ################################
// Close Button - Variables
// Promotion: Voting & Sharing - Variables
// Places - Variables
// Surveys - Variables

// ################################
// LEAFLET SIDEBAR - VARIABLES
// ################################
$icon-checkmark: "\f00c";
$icon-exclamation: "\f12a";
$icon-info: "\f05a";

// ################################
// RIGHT SIDEBAR - VARIABLES
// ################################
$sidebar-width: 15%;

// ################################
// TICKER - VARIABLES
// ################################

// ################################
// MASTER LEGEND - VARIABLES
// ################################

// ################################
// LIST VIEW - VARIABLES
// ################################
// Search - Variables
// Search & Sort - Variables
// Place List - Variables

// ################################
// PLACE COUNTER - VARIABLES
// ################################

// ################################
// GEOCODING - VARIABLES
// ################################

// ################################
// FOOTER - VARIABLES
// ################################
$footer-height-fullscreen: 0px;
$footer-height-smallscreen: 64px;
// Powered By - Variables
// Mapquest Attribution - Variables

// ################################
// UNSUPPORTED BROWSERS - VARIABLES
// ################################

// ################################
// MEDIA QUERIES - VARIABLES
// ################################
$map-width-when-content-visible: 60%;
$map-width-when-sidebar-visible: 85%;
$map-width-when-content-and-sidebar-visible: 45%;

$content-visible-left-offset: $map-width-when-content-visible;
$content-visible-with-sidebar-left-offset: $map-width-when-content-and-sidebar-visible;

$content-visible-width: 100% - $map-width-when-content-visible;
$content-with-sidebar-visible-width: 100% - $map-width-when-content-and-sidebar-visible - $sidebar-width;
