/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

#site-title a:link,
#site-title a:visited {
  display: block;
  float: left;
  width: 350px;
  height: 50px;
  overflow: hidden;
}

section[class*="LeftSidebarOuterContainer"] {
  width: auto;
  background-color: #eaddc6;
  opacity: 0.95;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: rgba(242, 82, 24, 0.89);
  color: #fff;
}

section[class*="LeftSidebarOuterContainer"] button[class*="CloseButton"] {
  color: #bd9462;
  background-color: #eaddc6;
  opacity: 0.95;
}

section[class*="LeftSidebarOuterContainer"] button[class*="CloseButton"]:hover {
  color: #cd2c67;
}

section[class*="LeftSidebarOuterContainer"] span[class*="fa fa-check"] {
  color: #bd9462;
}

section[class*="LeftSidebarOuterContainer"] span[class*="fa fa-times"] {
  color: black;
}

.btn-primary:hover {
  background-color: #68bdcf;
}

.map-layer-selector__layer-title--selected {
  background-color: #f8f4ec;
  &:hover {
    background-color: #dac39a;
  }
}

.css-1ooh28x-Button-DesktopButton {
  background-color: #ffffff;
  color: black;
  font-size: 1.1em;
  text-transform: lowercase;
  font-family: Raleway-Regular, sans-serif;
  font-weight: 600;
  padding: 4px 8px;
}

.css-1mee0ic-InternalLink {
  border: 1px solid rgba(255,255,255,1);
  text-transform: lowercase;
  font-size: 1.1em;
}

.css-5c4xid-SiteHeader {
  position: absolute;
  right: 84px;
}

.css-nnn1pv-Button-InputFormSubmitButton {
  background-color: #e56036;
}

.css-nnn1pv-Button-InputFormSubmitButton:hover
 {
  background-color: #ff8c64;
}
/* =Header
-------------------------------------------------------------- */

/* =Media Queries
-------------------------------------------------------------- */
