#site-title a:link,
#site-title a:visited {
  display: block;
  float: left;
  width: 350px;
  height: 50px;
  overflow: hidden;
}

.mapseed-left-sidebar {
  background-color: #f5f5f5 !important;
  opacity: 0.9 !important;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: rgba(242, 82, 24, 0.89);
  color: #fff;
}

.mapseed-left-sidebar__close-button {
  color: #bd9462 !important;
  background-color: #eaddc6 !important;
  opacity: 0.95 !important;

  &:hover {
    color: #cd2c67 !important;
  }
}

.mapseed-left-sidebar .fa-check {
  color: #bd9462 !important;
}

.mapseed-left-sidebar .fa-times {
  color: black !important;
}

.btn-primary:hover {
  background-color: #68bdcf;
}

.map-layer-selector__layer-title--selected {
  background-color: #f8f4ec;
  &:hover {
    background-color: #dac39a;
  }
}

.mapseed-map-controls .fa.fa-bars {
  color: gray;
}

/* =Header
-------------------------------------------------------------- */
.mapseed-place-filter-menu__label,
.mapseed-featured-places-header-menu__button {
  color: white !important;
}

/* =Media Queries
-------------------------------------------------------------- */
