/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

#site-title a:link,
#site-title a:visited {
  display: block;
  float: left;
  width: 350px;
  height: 50px;
  overflow: hidden;
}

section[class*="LeftSidebarOuterContainer"] {
  width: auto;
  background-color: #eaddc6;
  opacity: 0.95;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: rgba(242, 82, 24, 0.89);
  color: #fff;
}

section[class*="LeftSidebarOuterContainer"] button[class*="CloseButton"] {
  color: #bd9462;
  background-color: #eaddc6;
  opacity: 0.95;
}

section[class*="LeftSidebarOuterContainer"] button[class*="CloseButton"]:hover {
  color: #cd2c67;
}

section[class*="LeftSidebarOuterContainer"] span[class*="fa fa-check"] {
  color: #bd9462;
}

section[class*="LeftSidebarOuterContainer"] span[class*="fa fa-times"] {
  color: black;
}

.btn-primary:hover {
  background-color: #68bdcf;
}

.map-layer-selector__layer-title--selected {
  background-color: #f8f4ec;
  &:hover {
    background-color: #dac39a;
  }
}

/* =Header
-------------------------------------------------------------- */

/* =Media Queries
-------------------------------------------------------------- */
