@import "variables";

.editor-button {
  box-shadow: -2px 2px 3px #ccc;
  border-radius: 3px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 5px 10px 5px 10px;

  &:hover {
    box-shadow: -2px 2px 3px #ccc, inset 0 0 0 1px #27496d;
  }

  &:focus {
    outline: none;
  }
}

.editor-button--toggle {
  background-image: linear-gradient(#f0ad4e, #e99a00);
}

.editor-button--toggle--depressed {
  background-image: linear-gradient(#e99a00, #b97a00);
  background-color: #b27600;
  box-shadow: inset 0 0 2px #999;

  &:hover {
    box-shadow: inset 0 0 0 1px #27496d;
  }
}

.editor-button--save {
  background-image: linear-gradient(#449d44, #449d44);
}

.editor-button--save--faded {
  opacity: 0.3;
}

.editor-button--remove {
  background-image: linear-gradient(#c9302c, #c9302c);
}

.editor-button__icon {
  color: #fff;
  float: left !important;

  &:before {
    font-family: "FontAwesome";
  }
}

.editor-button__label {
  margin-left: 7px;
}

.editor-button__icon--toggle {
  &:before {
    content: $icon-pencil;
  }
}

.editor-button__icon--save {
  &:before {
    content: $icon-floppy-disk;
  }
}

.editor-button__icon--remove {
  &:before {
    content: $icon-times;
  }
}

.mapseed__toolbar-button {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid transparent;
  outline: none;
  border-radius: 5px;
  padding: 5px;
   &:hover {
    border: 2px solid #fff;
  }
}
 .mapseed__toolbar-button-icon {
  flex: 1;
  width: 35px;
}
 .mapseed__toolbar-button-icon--right-margin {
  margin-right: 10px;
}
 .mapseed__toolbar-button-label {
  flex: 4;
  text-align: left;
}
