@import "variables";

.mapseed__swatch {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.mapseed__progress-bar {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 5px 0 5px;
  background-color: #ccc;
  height: 20px;
  border-radius: 10px;
}

.mapseed__progress-bar-inner {
  height: 10px;
  border-radius: 5px;
  background-color: $accent-color-2;
}

.mapseed__info-modal-trigger {
  outline: none;
  background: none;
  border: none;

  &:before {
    font-size: 1em;
    color: #999;
    font-family: FontAwesome;
    content: "\f059";
  }

  &:hover {
    cursor: pointer;

    &:before {
      color: #555;
    }
  }
}

.mapseed__icon {
  font-family: FontAwesome;
  color: rgb(54, 69, 79);
}
