@import "variables";

.mapseed__paragraph,
.mapseed__header1,
.mapseed__header2,
.mapseed__header3,
.mapseed__header4,
.mapseed__header5,
.mapseed__header6 {
  color: rgb(54, 69, 79);
}

.mapseed__header1 {
  font-size: 1.8em;
  line-height: 1.8em;
}

.mapseed__header2 {
  font-size: 1.7em;
  line-height: 1.7em;
}

.mapseed__header3 {
  font-size: 1.6em;
  line-height: 1.6em;
}

.mapseed__header14 {
  font-size: 1.5em;
  line-height: 1.5em;
}

.mapseed__header5 {
  font-size: 1.4em;
  line-height: 1.4em;
}

.mapseed__header6 {
  font-size: 1.3em;
  line-height: 1.3em;
}
