.map-drawing-toolbar {
  background-color: #888;
  border-radius: 5px;
  padding: 10px;
}

.map-drawing-toolbar__grid-container {
  display: grid;
  grid-column-gap: 2%;
  grid-template-columns: 49% 49%;
  align-items: stretch;
}

.map-drawing-toolbar__tool-icon {
  width: 100%;
  margin-bottom: 5px;
  color: #fff;
}

.map-drawing-toolbar__tool-icon--colorpicker {
  // Override the colorpicker's background-color setting to prevent the
  // colorpicker button from behaving as a color swatch. 
  background-color: transparent !important;
}

// This class is exposed by the colorpicker plugin.
.rc-color-picker-wrap {
  width: 100%;
}

.map-drawing-toolbar__tool-icon--unselectable {
  color: #aaa;

  &:hover {
    border: 2px solid transparent;
    cursor: initial;
  }

  .mapseed__toolbar-button-icon {
    opacity: 0.2;
  }
}

.map-drawing-toolbar__tool-icon--active {
  background-color: #fff;
  color: #888;
  border: 2px solid #fff;
}

.map-drawing-toolbar__tool-icon--colorpicker--active {
  background-color: #fff !important;
  color: #888 !important;
  border: 2px solid #fff !important;
}

.map-drawing-toolbar__drawing-tools-container,
.map-drawing-toolbar__editing-tools-container {
  margin-bottom: 10px;
  margin-top: 10px;
}

.map-drawing-toolbar__markers-container {
  display: flex;
  justify-content: center;
}

.map-drawing-toolbar__marker-icon {
  margin: 0 5px 0 5px;
}

.map-drawing-toolbar__marker-icon--active {
  background-color: #fff;
  border: 2px solid #fff;
}

.map-drawing-toolbar__markers-container-header {
  margin: 20px 0 10px 0;
  color: #fff;
  text-align: center;
}

.map-drawing-toolbar__drawing-tools-header {
  text-align: center;
  color: #fff;
}
