.form-stage-header-bar {
  padding-left: 3em;
  border-bottom: 1px solid #bbb;
  margin-bottom: 20px;
}

.form-stage-header-bar--without-image {
  padding-left: 0;
}

.form-stage-header-bar__icon {
  float: left;
  width: 1.4em;
  margin-left: -1.8em;
  margin-right: 0.4em;
}

.form-stage-header-bar__modal-trigger {
  margin-left: 10px;
}
