{{#extends "../../../base/templates/base"}}

{{#block "site-title"}}
<a href="/">
  <img src="/static/css/images/bogtobay-logo-large.png" alt="{{ config.app.name }}" />
</a>
{{/block}}

{{#block "language_picker"}}
	<div id="language-picker">
	  <nav class="access" role="article">
	    <ul class="menu">
	      <li class="menu-item">
	        <a class="current-language {{ LANGUAGE_CODE }} btn btn-block">Español</a>
          <ul class="menu">
            {{#each config.languages}}
	            <li class="menu-item">
	              <a href="/{{this.code}}.html" class="{{ this.code }} btn btn-block">{{ this.label }}</a>
	            </li>
            {{/each}}
          </ul>
	      </li>
	    </ul>
	  </nav>
	</div>
{{/block}}

<!--
  This will place content in the colophon below the map
 -->
{{#block "colophon"}}
<p id="powered-by">{% blocktrans %}Powered by{% endblocktrans %} <a href="//shareabouts.org/" class="shareabouts-logo" target="_blank">Shareabouts</a>, <span class="nobreak">a project of <a href="//openplans.org/" class="openplans-logo" target="_blank">OpenPlans</a></span></p>
{{/block}}

<!--
  Analytics, custom JS, and such go here
 -->
{{#block "includes"}}
<!--<script src="{{STATIC_URL}}js/views/commitment-view.js"></script>-->
<script>
  (function(S) {
// ========================================
// == For Filtering
    $(document).on('click', '.activity-item a', function(evt) {
      window.app.appView.mapView.clearFilter();
    })
  }(Shareabouts));
</script>
{{/block}}

{{/extends}}
