{{#extends "../../../base/templates/base"}}

{{#block "site-title"}}
<a href="/" rel="internal"><img id="site-logo" src="/static/css/images/pbdurham-logo-large.png"></a>

<!--Typekit embed code-->
<script src="https://use.typekit.net/mon5qsx.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
{{/block}}

{{#block "app_icons"}}
  <!-- Favicon & Progressively-Enhanced Touch Icons: http://mathiasbynens.be/notes/touch-icons#sizes -->
  <link rel="icon" href="/css/images/greensboro-logo-small.png">
  <link rel="shortcut icon" href="/css/images/greensboro-logo-simple.png">
  <link rel="apple-touch-icon-precomposed" href="/css/images/greensboro-logo-simple.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{{/block}}

<!--
  This will place content in the colophon below the map
 -->
{{#block "colophon"}}
{{/block}}

<!--
  Analytics, custom JS, and such go here
 -->
{{#block "includes"}}
{{/block}}

{{/extends}}
