@import "variables";

.custom-url-field__url-readout-container {
  background-color: $custom-url-background-color;
  border-radius: $custom-url-border-radius;
  padding: $custom-url-padding;
  margin-bottom: 10px;
}

.custom-url-field__url-readout-prefix-msg {
  color: $custom-url-prefix-msg-text-color;
  margin-bottom: 0;
}

.custom-url-field__url-readout-prefix {
  color: $custom-url-prefix-url-text-color;
  padding-left: 20px;
}

.custom-url-field__url-readout-url {
  color: $custom-url-prefix-url-text-color;
}
