/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

body {
  font-family: Raleway, sans-serif;
}


/* =Custom Pages
-------------------------------------------------------------- */

.next-btn {
  background-color: #e57c04 !important;
  border-radius: 3px;
  float: right;
  background: none;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: #fff !important;
  padding: 0.5em;
  margin-left: 10px;

  &:hover {
    background-color: #ff6201 !important;
  }
}
